<!-- 头部 -->
	{include file='public/header'}
<!-- 头部 --> 
<!--crumb start-->
	<div class="crumb w100 crumb_01">
		<div class="crumb_in in_width crumb_in_01">
			<p><span class="icon">当前位置：</span><a href="{:url('index/index')}" class="index_a">首页</a>>>
			{$info.category_id|get_place}	>><span>{$info.title}</span></p>
		</div>
	</div>
	<!--/crumb end-->	
	<!--main start-->
		<script type="text/javascript" src="__JS__/jquery.jqzoom.js"></script>
	<script type="text/javascript" src="__JS__/lvjing.js"></script>
	<div class="main w100 spxq_main">
		<div class="main_in in_width spxq_main_in">
			<div class="top_div">
				<div class="lft_pic fl">					
					<div id="preview" class="spec-preview"> 
						<span class="jqzoom">
						<img jqimg="{$info.cover_id|get_cover='path'}" src="{$info.cover_id|get_cover='path'}" width="360"/>
							</span> 
					</div>
					<div class="spec-scroll"> 
						<a class="spec-forward disable">
	<i class="sprite-arrow-prev"></i>
</a>
<a class="spec-backward">
	<i class="sprite-arrow-next"></i>
</a>
						<div class="items">
							<ul>	
	
							{php}$lists= get_pictures($info['id']);{/php}	
							
									{foreach name="lists" item="vo" key="k"} 
								<li><img alt="" bimg="{$vo|get_cover='path'}" src="{$vo|get_cover='path'}" onmousemove="preview(this);"></li>
							
								{/foreach}
							</ul>
						</div>
					</div>
					<div class="b_div f12">
						<a onclick="addClect()" class="sc fl"><i></i>收藏商品<span>(<em>{$info.collect}</em>)</span></a> 
						<!--a href="javascript:;" class="share fl"><i></i>分享<span>(<em>0</em>)</span></a> 
						
						<a href="javascript:;" class="compare fl"><i class="sel"></i>加入对比</a>
						<a href="javascript:;" title="举&nbsp;报" class="inform fr">举&nbsp;报</a-->
					</div>
				</div>
				<div class="pro_info fl">
					<h3 class="f16"><a href="javascript:;">{$info.title}</a></h3>
					<div class="price">
						<div class="price_div fl">
							<p class="num_01 f12"><span class="span_l fl">市&nbsp;场&nbsp;价：</span><span class="f12 span_r fl">¥{$info.price}</span></p>
							<p class="num_02 f12"><span class="span_l fl">商&nbsp;城&nbsp;价：</span><span class="span_r fl">¥{$sku2.price}</span></p>
							<div class="num_03 f12">
								<span class="span_l fl"> 商品评分：</span>
								<div class="star fl icon_0{$info.id|getEqual}"></div>
								<a href="javascript:;" class="pl_num fl">共有{$comment.count}条评论</a>
							</div>
						</div>
						<div class="fr code f12">
							<div class="pic" id="code"></div>
							<script type="text/javascript" src="__COMMON__/jquery.qrcode.min.js"></script>
							<p>手机端扫购有惊喜</p>
                             <SCRIPT>$("#code").qrcode({ 
    render: "table", //table方式 
    width: 88, //宽度 
    height:88, //高度 
    text: "{:root_url()}{:url('wap/goods/detail?id='.$info["id"])}" //任意内容 
}); </SCRIPT>
						</div>
					</div>
					<div class="ps f12" style="width:620px;padding:10px 0px;">
						<ul id="list1" >
	<li id="summary-stock">
		<div class="dt">配&nbsp;送&nbsp;至：</div>
		<div class="dd">
			<div id="arealist">
				<div class="text">湖北省 武汉市 武昌区<div></div><b></b></div>  
				<div class="content"><div data-widget="tabs" class="m ul-list" id="ul-list"><div class="mt">  
				<ul class="tab">        
				<li data-index="0" data-widget="tab-item" class="curr"><a href="#none" class="hover"><em>湖北</em><i></i></a></li>       
				<li data-index="1" data-widget="tab-item" style="display: list-item;" class=""><a href="#none" class=""><em>武汉市</em><i></i></a></li>      
				<li data-index="2" data-widget="tab-item" style="display: list-item;" ><a href="#none" class=""><em>请选择</em><i></i></a></li>       
				<li data-index="3" data-widget="tab-item" style="display:none;"><a href="#none" class=""><em>请选择</em><i></i></a></li>    
				</ul>    <div class="stock-line"></div></div>
				
				<div class="mc" data-area="0" data-widget="tab-content" id="stock_province_item" style="display: ;">    <ul class="area-list">   
				{volist name="arealist" id="vo"}
				<li><a href="#none" data-value="{$vo.id}">{$vo.title}</a>
				</li>
				{/volist} 
				</ul></div>
				
				<div class="mc" data-area="1" data-widget="tab-content" id="stock_city_item" style="display: none;"><ul class="area-list">
				<li><a href="#none" data-value="275">衡水市</a></li>
				
				</ul>
				
				</div>
				
				<div class="mc" data-area="2" data-widget="tab-content" id="stock_area_item" style="display:none ;">
				<div class="iloading">正在加载中，请稍候...</div></div>
				
				<div class="mc" data-area="3" data-widget="tab-content" id="stock_town_item" style="display: none;"></div></div>
				
				</div>
				<div onclick='$("#arealist .content, #arealist .close,#ul-list").hide();' class="close"></div>
			</div><!--store-selector end-->
			<div id="store-prompt"><strong></strong></div><!--store-prompt end--->
		</div>
	</li>
</ul>
<script>$(".spec-scroll .spec-backward").click(function(){
				if($(this).hasClass("disable")){
					return false;
				}
         })	
		
var areaTabContainer=$("#ul-list .tab li");
var provinceContainer=$("#stock_province_item");
var cityContainer=$("#stock_city_item");
var areaContainer=$("#stock_area_item");
var townaContainer=$("#stock_town_item");
var currentDom = provinceContainer;

(function(){
	$("#arealist").find(".text").unbind("mouseover").bind("click",function(){
		$('#arealist').addClass('hover');
		$("#arealist .content, #arealist .close,#ul-list").show();
	}).find("dl").remove();
	
	areaTabContainer.eq(0).find("a").click(function(){
		areaTabContainer.removeClass("curr");
		areaTabContainer.eq(0).addClass("curr").show();
		provinceContainer.show();
		cityContainer.hide();
		areaContainer.hide();
		townaContainer.hide();
		areaTabContainer.eq(1).hide();
		areaTabContainer.eq(2).hide();
		areaTabContainer.eq(3).hide();
	});
	areaTabContainer.eq(1).find("a").click(function(){
		areaTabContainer.removeClass("curr");
		areaTabContainer.eq(1).addClass("curr").show();
		provinceContainer.hide();
		cityContainer.show();
		areaContainer.hide();
		townaContainer.hide();
		areaTabContainer.eq(2).hide();
		areaTabContainer.eq(3).hide();
	});
	areaTabContainer.eq(2).find("a").click(function(){
		areaTabContainer.removeClass("curr");
		areaTabContainer.eq(2).addClass("curr").show();
		provinceContainer.hide();
		cityContainer.hide();
		areaContainer.show();
		townaContainer.hide();
		areaTabContainer.eq(3).hide();
	});
	provinceContainer.find("a").click(function() {
		
		
		chooseProvince($(this).attr("data-value"),$(this).text());
	}).end();
	//chooseProvince(currentAreaInfo.currentProvinceId);
})();

var page_load;
function chooseProvince(pid,title){
	provinceContainer.hide();
	
	areaTabContainer.eq(0).removeClass("curr").find("em").html(title);
	areaTabContainer.eq(1).addClass("curr").show().find("em").html("请选择");
	areaTabContainer.eq(2).hide();
	areaTabContainer.eq(3).hide();
	cityContainer.show();
	cityContainer.show().html("<div class='iloading'>正在加载中，请稍候...</div>");
	$.post('{:U("address/change")}',{pid:pid},function(data,textStatus){
						if(data){
						   var html = '<ul class="area-list" >';
                       
								$.each(data, function(i,n){
									  html = html+'<li><a data-value="'+$(this)[0]['id']
									  +'" onclick="chooseCity(this,'+$(this)[0]['id']+')">'+
									  $(this)[0]['title']+'</a></li>';
								
							});
							html +=  '</ul>';
							cityContainer.html(html);
						}else{
							alert('没有子级了!');
						}
		  });
	areaContainer.hide();
	townaContainer.hide();
	

}

function chooseCity(obj,pid){
	provinceContainer.hide();
	cityContainer.hide();
	areaContainer.hide();
	areaTabContainer.eq(1).removeClass("curr").find("em").html($(obj).html());
	areaTabContainer.eq(2).addClass("curr").show().find("em").html("请选择");
	townaContainer.show().html("<div class='iloading'>正在加载中，请稍候...</div>");
	$.post('{:U("address/change")}',{pid:pid},function(data,textStatus){
						if(data){
						   var html = '<ul class="area-list" >';
                       
								$.each(data, function(i,n){
									 html = html+'<li><a data-value="'+$(this)[0]['id']
									  +'" onclick="chooseArea(this,'+$(this)[0]['id']+')">'+
									  $(this)[0]['title']+'</a></li>';
								
							});
							html +=  '</ul>';

							townaContainer.html(html);
						}else{
							alert('没有子级了!');
						}
		  });
	currentDom = townaContainer;
	
	
}
function chooseArea(obj,pid){
	
	areaTabContainer.eq(2).removeClass("curr").find("em").html($(obj).html());
	$(".text").html(areaTabContainer.eq(0).text()+" &nbsp;"+areaTabContainer.eq(1).text()+" &nbsp;" +areaTabContainer.eq(2).text());
	$("#arealist .content, #arealist .close").hide();
	
	
}
				</script>	

					</div>
					 {notempty name="attrlist"}
					{volist name="attrlist" id="vo"}
					<div class="caizhi f12">
						<label class="fl">{$vo.title}：</label>
						<ul class="sel_ul">
							{volist name="vo['sid']"  id="vo1"}
							  <li class="{if condition='$i eq 1'}current{/if}" attr_id="{$vo1.id}">
								<span class="txt fl">{$vo1.title}</span>
								<span class="icon"></span>
							  </li>
							{/volist}
						</ul>
					  </div>	
					{/volist}{/notempty}
					<div class="num_input">
						<div class="ipt_l fl">
							<input type="text"  class="fl f16" id="num_ipt" onkeyup="value=value.replace(/[^\d]/g,'');javascript:this.value.substring(0,1)=='0'?this.value='0':this.value=this.value" onbeforepaste="clipboardData.setData('text',clipboardData.getData('text').replace(/[^\d]/g,''))" maxlength="2"/>
							<div class="fl btn">
								<div class="jia"><span></span></div>
								<div class="jian"><span></span></div>
							</div>
						</div>						
						<a  onclick="addCart()" class="fl jr f18"><span></span>加入购物车</a>
						<a onclick="orderCreate()" class="fl buy f18">立即购买</a>
					</div>
				</div>
				<div class="left_klyk fl">
					<div class="left_klyk_pd">
					    <fieldset>
					        <legend>看了又看</legend>
					    </fieldset>
					    <ul class="left_klyk_list">
					    	{volist name="see_list" id="vo" }
							<li>
					    		<a href="{:url('goods/detail?id='.$vo['id'])}"><img src="{$vo.cover_id|get_cover='path'}"/></a>
					    		<a href="{:url('goods/detail?id='.$vo['id'])}" class="klyk_img_mask">￥{$vo.price}</a>
					    	</li>
					    	{/volist}
					    </ul>
					</div>
				</div>
			</div>
			<script type="text/javascript" src="__JS__/jquery.lazyload.js"></script>
			<div class="details">
				<div class="lft_pan f12 fl">					
					
					<div class="klyk">
						<h3 class="title f14">推荐商品</h3>
						<ul class="list_ul">
						{volist name="rexiao" id="vo" offset="0" length='6' empty="暂无数据"}
						   <li>
								<a href="{:url('goods/detail?id='.$vo['id'])}" class="pic"><img class="lazy" data-original="{$vo.cover_id|get_cover='path'}" /></a>
								<a href="{:url('goods/detail?id='.$vo['id'])}" class="tit f12">{$vo.title}</a>
								<p class="price f18">¥{$vo.price}</p>
							</li>
					     {/volist}
						</ul>
					</div>
					
					<script type="text/javascript" charset="utf-8">
					  $(function() {
						  $("img.lazy").lazyload({effect: "fadeIn"});
					  });
					</script>
				</div>
				<div class="rgt_pan f14 fr">
					<div class="tit f14">
						<ul>
							<li class="current"><a href="javascript:;">商品详情</a></li>
							<li><a href="javascript:;">商品评价<span>（{$comment.count}）</span></a></li>
							<li><a href="javascript:;">销售记录<span>（{$sales.count}）</span></a></li>
							<li><a href="javascript:;">售后保障</a></li>
						</ul>
					</div>					
					<div class="spxq_con rgt_pan_con" style="display:block;">
						<br />
						<div class="info_01 f12">
							<ul>
							{volist name="basic" id="vo"}
							  <li></li>
							{/volist}
								
								
							</ul>
						</div>
						<div class="info_02">
							{$info.content}
						</div>												
						
					</div>
					<div class="sppj_con rgt_pan_con" style="display:none;">
							<br /><div class="mt">
                       <h3>商品评价</h3>
                    </div>
						<div class="spms">
							<div class="div_l fl">
								<p class="txt f12">与描述相符</p>
								<p class="num">{$info.id|getEqual}</p>
								<div class="star star_0{$info.id|getEqual}"></div>
							</div>
							<div class="div_r fl">
								<p class="txt fl">大<br />家<br />都<br />写<br />到</p>
								<span class="kh fl"></span>
								<ul class="list fl">
									 {volist name="tags" id="vo" }  
									<li><a >{$vo.title}（{$vo.num}）</a></li>
									{/volist}
								</ul>
								<div class="sel_div cl fr"><span></span></div>
							</div>
						</div>
						<div class="pj_list">
							<div class="tit_sel f12">
								<ul class="ul_l fl">
									<li>
										<input type="radio" name="all" checked="checked" onclick="comments()"/>
										<label for="">全部</label>
									</li>
									<li>
										<input type="radio" name="is_over"  onclick="comment()"/>
										<label for="">追评（{$comment["is_over_count"]}）</label>
									</li>
									<li>
										<input type="radio" name="is_picture" onclick="comment()"/>
										<label for="">图片（{$comment["is_picture_count"]|default="0"}）</label>
									</li>
								</ul>
								<div class="div_r fr">
									<div class="nr fl">
										<input type="checkbox" name="notempty"  onclick="comment()"/>
										<label for="">有内容 </label>
									</div>
									<div class="xl fl">
										<div class="show">按默认 <span></span></div>
										<div class="xl_list" onclick="comment()">按时间</div>
									</div>
								</div>
							</div>
								  <script type="text/javascript">
		     
           
           
   </script>
							<div class="list_del f12">
								<ul class="list_ul" id="comments">
									
									{volist name="comment.list" id="vo"}
									<li class="list_li">
										<div class="div_l fl">
											<p class="txt_01">{$vo.message|default=""}</p>
											<ul class="pic">
												{volist name="vo['pictures']" id="vo1"}
							                   <li> <img  src="{$vo1|get_cover='path'}" width="40" height="40"/></li>
						                    {/volist}
												
											</ul>
											<p class="time">{$vo.create_time|date='Y-m-d H:i',###}</p>
											<p class="jieshi">{$vo.reply|default=""}</p>
										</div>
										<div class="div_r fr">{$vo.uid|get_username}（匿名）</div>
									</li>
									{/volist}
									 <div class="comment">
									     {$comment.page}
								 </div>
									     
									  	
									   
									   
		                         <script type="text/javascript">
		                              var goodsid="{$info['id']}";
									  //分页
       $(".comment a").click(function(event) {
            event.preventDefault();
            event.stopPropagation(); // 阻止冒泡
			var Regx = /page\=(\d)/g; 
			var url=$(this).attr("href");
		
           	var str= url.match(Regx);	
			var str=str.toString();
			var page=str.substring(5);
			comment(page);
       });	
       function comment(p){    //user函数名 一定要和action中的第三个参数一致上面有
                  var url="{:url('goods/comment')}"; 
									   if($("input[name='is_over']").is(':checked')) {
                                         var is_over=1;
                                       }
									   if($("input[name='is_picture']").is(':checked')) {
                                         var is_picture=1;
                                       }
									   if($("input[name='not_empty']").is(':checked')) {
                                         var not_empty=1;
                                       }
 $.post(url, {page:p,goodsid:goodsid,is_over:is_over,is_picture:is_picture,not_empty:not_empty,type:1}, function(data){  //用get方法发送信息到UserAction中的user方法
                                          $("#comments").html(data);; //user一定要和tpl中的一致
                });
                                     }
           
                                </script>
	    
						 </ul>	
								
							</div>
						</div>
						
					</div>
					<div class="xsjl_con rgt_pan_con" style="display:none;">
						<br />
						<div class="f12 scj">
							<p class="prcie fl">商&nbsp;&nbsp;城&nbsp;&nbsp;价<span>{$info.price}</span>元</p>
							<span class="tip fl">购买的价格不同可能是由于店铺往期促销活动引起的，详情可以咨询卖家</span>
						</div>
						<div class="zx_list f12">
							<div class="title_list">
								<span class="span_01 fl">买家</span>
								<span class="span_02 fl">购买价</span>
								<span class="span_03 fl">优惠活动</span>
								<span class="span_04 fl">购买数量</span>
								<span class="span_05 fl">购买时间</span>
							</div>
							<div class="xx_list" id="sales">
								{volist name="sales.list" id="vo"}
								<div class="list_div">
									<span class="span_01 fl">{$vo.uid|get_username}</span>
									<span class="span_02 fl">¥{$vo.price|default=""}</span>
									<span class="span_03 fl">{$vo.cuxiao|default="无"}</span>
									<span class="span_04 fl">{$vo.num|default=""}</span>
									<span class="span_05 fl"> {$vo.create_time|date='Y-m-d H:i',###}</span>
								</div>
						       {/volist}
								 <div class="sales">
									      {$sales.page}
								 </div>
	     <script type="text/javascript">
		                              var goodsid="{$info['id']}";
									  //分页
       $(".sales a").click(function(event) {
            event.preventDefault();
            event.stopPropagation(); // 阻止冒泡
			var Regx = /page\=(\d)/g; 
			var url=$(this).attr("href");
		
           	var str= url.match(Regx);	
			var str=str.toString();
			var page=str.substring(5);
			sales(page);
       });	
       function sales(p){    //user函数名 一定要和action中的第三个参数一致上面有
                  var url="{:url('goods/sales')}"; 
									  
 $.post(url, {page:p,goodsid:goodsid}, function(data){  //用get方法发送信息到UserAction中的user方法
                                          $("#sales").html(data);; //user一定要和tpl中的一致
                });
                                     }
           
                                </script>
								 
							</div>
							
						</div>
					</div>
					<div class="gmzx_con rgt_pan_con" style="display:none;">
						<br />
					<div class="mt">
                       <h3>售后保障</h3>
                    </div>	
<div class="serve-agree-bd">
    <dl style="text-indent:2em;">
                <dt>
            <i class="icon"></i>
            <strong>厂家服务</strong>
        </dt>
        <dd>
                本产品全国联保，享受三包服务，质保期为：全国联保二年<br>
              自收到商品之日起，如您所购买家电商品出现质量问题，请先联系厂家进行检测，凭厂商提供的故障检测证明，在“我的商城-客户服务-返修退换货”页面提交退换申请，将有专业售后人员提供服务。商城承诺您：30天内产品出现质量问题可退货，180天内产品出现质量问题可换货，超过180天按国家三包规定享受服务。
                                                                                            </dd>

                <dt>
            <i class="icon"></i>
            <strong>商城承诺</strong>
        </dt>
        <dd>
                            商城平台卖家销售并发货的商品，由平台卖家提供发票和相应的售后服务。请您放心购买！<br>
                                        注：因厂家会在没有任何提前通知的情况下更改产品包装、产地或者一些附件，本司不能确保客户收到的货物与商城图片、产地、附件说明完全一致。只能确保为原厂正货！并且保证与当时市场上同样主流新品一致。若本商城没有及时更新，请大家谅解！
        </dd>

                <dt>
            <i class="icon"></i><strong>正品行货</strong>
        </dt>
                        <dd>商城商城向您保证所售商品均为正品行货，商城自营商品开具机打发票或电子发票。</dd>
                                <dt><i class="unprofor"></i><strong>全国联保</strong></dt>
        <dd>
            凭质保证书及商城商城发票，可享受全国联保服务（奢侈品、钟表除外；奢侈品、钟表由商城联系保修，享受法定三包售后服务），与您亲临商场选购的商品享受相同的质量保证。商城商城还为您提供具有竞争力的商品价格和运费政策，请您放心购买！
            <br><br>注：因厂家会在没有任何提前通知的情况下更改产品包装、产地或者一些附件，本司不能确保客户收到的货物与商城图片、产地、附件说明完全一致。只能确保为原厂正货！并且保证与当时市场上同样主流新品一致。若本商城没有及时更新，请大家谅解！
        </dd>
             
            </dl>
</div>
				
						</div>
					</div>
	
				</div>
			</div>			
		</div>
	</div>
	<!--/main end-->	
{include file='public/footer'}
	
	<!--弹窗  start-->
	<div class="spxq_tc" style="display:none">
		<p class="scu f14">成功添加到购物车</p>
		<p class="price f12">购物车共有<span class="tNum">1</span>种商品 总金额为：<span class="tSum">¥32400.00</span></p>
		<div class="btns f12">
			<a href="{:url('cart/index')}" class="ck fl">查看购物车</a>
			<a href="javascript:;" class="go fl">继续购物</a>
		</div>
		<a href="javascript:;" class="close f16">X</a>
	</div>
	<!--弹窗  end-->
<div class="mask none">
			<div class="alert_success alert_div">
				<div class="alert_header">提示</div>
				<div class="alert_content"><i></i><span class="sucess_msg">操作成功</span></div>
				<div class="alert_btn">确定</div>
				<span class="alert_close"></span>
			</div>
		</div>
		<div class="mask none">
			<div class="alert_error alert_div">
				<div class="alert_header">提示</div>
				<div class="alert_content"><i></i><span class="error_msg">操作失败</span></div>
				<div class="alert_btn">确定</div>
				<span class="alert_close"></span>
			</div>
		</div>
	<script type="text/javascript">
	   var goodsid="{$info.id}";
		$(function(){
			//展开更多信息
			$('.spxq_main .spxq_main_in .top_div .lft_pic .b_div .compare i').click(function(){
				if($(this).hasClass('sel')){
					$(this).removeClass('sel');					
				}else{
					$(this).addClass('sel');		
				}
			});
			//规格
			$('.spxq_main .spxq_main_in .top_div .pro_info .guige .sel_ul li').click(function(){
				$(this).addClass('current').siblings().removeClass('current');
				
			});
			//材质
			$('.spxq_main .spxq_main_in .top_div .pro_info .caizhi .sel_ul li').click(function(){
				$(this).addClass('current').siblings().removeClass('current');
				var result = new Array(); 
			 //var ids=$(".caizhi .current");
                $(".caizhi .current").each(function () {
                        result.push($(this).attr("attr_id"));

                });

               if(result){
			       var id=result.sort(sortNum);
				}
				var path=result.join(",");
				var show_url="{:url('showprice')}";
				  $.getJSON(show_url,{path:path,goodsid:goodsid},function(data){
                     $(".num_02 .span_r").text("¥"+data.price);
                 });

				
			});
			//加减
			$('.spxq_main .spxq_main_in .top_div .pro_info .num_input .ipt_l #num_ipt').val(1);
			$('.spxq_main .spxq_main_in .top_div .pro_info .num_input .ipt_l .btn .jian').click(function(){	
				var cur_num = $(this).parent('.btn').siblings('#num_ipt').val();
				if(cur_num <= 0){
					$(this).parent('.btn').siblings('#num_ipt').val(0);
				}else{
					cur_num--;
					$(this).parent('.btn').siblings('#num_ipt').val(cur_num);
				}	
			})
			$('.spxq_main .spxq_main_in .top_div .pro_info .num_input .ipt_l .btn .jia').click(function(){
				var cur_num = $(this).parent('.btn').siblings('#num_ipt').val();
				if(cur_num >= 99){
					$(this).parent('.btn').siblings('#num_ipt').val(99);
				}else{
					cur_num++;
					$(this).parent('.btn').siblings('#num_ipt').val(cur_num);
				}
			})
			//商品分类 
			$('.spxq_main .spxq_main_in .details .lft_pan .spfl .tab_ul li').click(function(e) {
				$(this).addClass('current').siblings().removeClass('current');
				var this_index = $(this).index();
				$(this).closest('.tab_ul').siblings('.tab_div').find('.list_div').eq(this_index).addClass('current');
				$(this).closest('.tab_ul').siblings('.tab_div').find('.list_div').eq(this_index).siblings('.list_div').removeClass('current');
			});
			//商品排行 
			$('.spxq_main .spxq_main_in .details .lft_pan .spph .tab_ul li').click(function(e) {
				$(this).addClass('current').siblings().removeClass('current');
				var this_index = $(this).index();
				$(this).closest('.tab_ul').siblings('.tab_div').find('.list_div').eq(this_index).addClass('current');
				$(this).closest('.tab_ul').siblings('.tab_div').find('.list_div').eq(this_index).siblings('.list_div').removeClass('current');
			});
			
			//右侧tab1
			$('.spxq_main .spxq_main_in .details .rgt_pan .rgt_pan_con').eq(0).show()
			$('.spxq_main .spxq_main_in .details .rgt_pan .tit ul li').click(function(e) {
				$(this).addClass('current').siblings().removeClass('current');
				var index = $(this).index();
				$('.spxq_main .spxq_main_in .details .rgt_pan .rgt_pan_con').eq(index).show().siblings('.spxq_main .spxq_main_in .details .rgt_pan .rgt_pan_con').hide();
			});
			//sel_div
			$('.spxq_main .spxq_main_in .details .rgt_pan .rgt_pan_con.sppj_con .spms .div_r .sel_div').click(function(){
				if($(this).hasClass('cl')){
					$(this).removeClass('cl');					
				}else{
					$(this).addClass('cl');		
				}
			});
			//tit_sel .ul_l li
			$('.spxq_main .spxq_main_in .details .rgt_pan .rgt_pan_con.sppj_con .pj_list .tit_sel .ul_l li input').click(function(){				
				if($(this).attr('checked') == 'checked'){
					$(this).attr('checked','checked');
					$(this).parent('li').siblings('li').children('input').removeAttr("checked");
				}else{
					
					$(this).removeAttr("checked");
					$(this).parent('li').siblings('li').children('input').removeAttr("checked");
				}
			});
			//
			$('.spxq_main .spxq_main_in .details .rgt_pan .rgt_pan_con.sppj_con .pj_list .tit_sel .div_r .xl').click(function(){
				if($(this).hasClass('sel')){
					$(this).removeClass('sel');					
				}else{
					$(this).addClass('sel');		
				}
			});
			//page
			$('.spxq_main .spxq_main_in .details .rgt_pan .rgt_pan_con.sppj_con .pj_list .list_del .page_div .con .page_ul li').click(function(){
				$(this).addClass('current').siblings().removeClass('current');
			});
			
			//page2
			$('.spxq_main .spxq_main_in .details .rgt_pan .rgt_pan_con.xsjl_con .zx_list .xx_list .page_div_03 ul li').click(function(e) {
				$(this).addClass('current').siblings().removeClass('current');			
			});
			
			//商品分类 
			$('.spxq_main .spxq_main_in .details .rgt_pan .rgt_pan_con.gmzx_con .zx_del .zx_tab ul li').click(function(e) {
				$(this).addClass('current').siblings().removeClass('current');
				var this_index = $(this).index();
				$(this).closest('.zx_tab').siblings('.zx_list').eq(this_index).addClass('current');
				$(this).closest('.zx_tab').siblings('.zx_list').eq(this_index).siblings('.zx_list').removeClass('current');
			    var n=this_index;
				consult(1,n);
			});
			
			//弹窗 
			$('.spxq_tc .close').click(function(e) {
				$('.spxq_tc').hide();
			});
			//弹窗 
			$('.spxq_tc .go').click(function(e) {
				$('.spxq_tc').hide();
			});
			
		})
	//左右滚动
			//向前按钮点击
			$(".spec-scroll .spec-forward").click(function(){
				if($(this).hasClass("disable")){
					return false;
				}
				var reg = /\d+/;
				var marleft = parseInt($(".spec-scroll .items ul").css("margin-left").match(reg)[0]);
				var nums = $(".spec-scroll .items ul li").length;
				if(nums <= 4){
					$(".spec-scroll .spec-backward").addClass("disable");
					$(this).addClass("disable");
					return false;
				}
				var totallen = nums * (72);
				var setLeft = 0;
				
				if((marleft - 288) <= 0){
					setLeft = 0;
					$(this).addClass("disable");
				}else{
					setLeft = -(marleft - 288);
				}
				$(".spec-scroll .spec-backward").removeClass("disable");
				$(".spec-scroll .items ul").animate({
					"margin-left":setLeft + "px"
				});
			});
			//向后按钮点击
			$(".spec-scroll .spec-backward").click(function(){
				if($(this).hasClass("disable")){
					return false;
				}
				var reg = /\d+/;
				var marleft = parseInt($(".spec-scroll .items ul").css("margin-left").match(reg)[0]);
				var nums = $(".spec-scroll .items ul li").length;
				
				if(nums <= 4){
					$(".spec-scroll .spec-forward").addClass("disable");
					$(this).addClass("disable");
					return false;
				}
				
				var totallen = nums * (72);
				var setLeft = 0;
				
				if((marleft + 576) >= totallen){
					setLeft = -(totallen - 288);
					$(this).addClass("disable");
				}else{
					setLeft = -marleft - 288;
				}
				$(".spec-scroll .spec-forward").removeClass("disable");
				$(".spec-scroll .items ul").animate({
					"margin-left":setLeft + "px"
				},1000);
			});

		
         function consult(p,type){    //user函数名 一定要和action中的第三个参数一致上面有
                  
                    $.get('{:url("goods/consult")}', {p:p,goodsid:goodsid,type:type}, function(data){  //用get方法发送信息到UserAction中的user方法
                     $("#consult").replaceWith("<div  class='xx_list' id='consult'>"+data+"</div>"); //user一定要和tpl中的一致
                });
         }
		 function sortNum(a,b) {
               return a - b; //升序，如降序，把“a - b”该成“b - a”
         }
        function addCart(){
		     var result = new Array(); 
			 //var ids=$(".caizhi .current");
                $(".caizhi .current").each(function () {
                        result.push($(this).attr("attr_id"));

                });

               if(result){
			       var id=result.sort(sortNum);
				}
				var id=result.join(",");
				var num=$("#num_ipt").val();
				
		       $.post(post_url,{path:id,goodsid:goodsid,num:num},function(data){
                     
					 if(data.status){  
					      $(".none_tips").hide();
					      $(".checkout_box").show();
					      if(data.isin>0){
					          $('.span_r').text("¥"+data.price);
						      $('.item_num_'+data.sku_id).text(data.num); 
					     }
                         else{					
						    $('#minicart_list ul').append(data.tpl);
					    } 
						$('.spxq_tc').show(); 
						$('.tNum').text(data.count);
						$('.cart_num').text(data.sum);
						$('.tSum').text("¥"+data.total);
					 }
					 else{
					    openerror(data);
					 
					 }
                });
		   
		}   
		function orderCreate(){
		     var result = new Array(); 
			 //var ids=$(".caizhi .current");
                $(".caizhi .current").each(function () {
                        result.push($(this).attr("attr_id"));

                });

               if(result){
			       var id=result.sort(sortNum);
				}
				var id=result.join(",");
				var num=$("#num_ipt").val();
				var order_url="{:url("order/create")}";
		       $.post(order_url,{path:id,goodsid:goodsid,num:num},function(data){
                     
					 if(data.code){  
					     if (data.url) {
                            location.href=data.url;
                         }
					 }
					 else{
					    openerror(data);
					 }
                });
		}
		function addClect(){
		     
				var order_url="{:url('collect/add')}";
		        $.post(order_url,{id:goodsid},function(data){
                     
					 if(data.code){  
					     opensuccess(data);
					 }
					 else{
					     openerror(data);
					 }
                });
		} 
	$(".mask .alert_div .alert_close").click(function(){
			    $(this).parents(".mask").addClass("none");
			});
			$(".mask .alert_div .alert_btn").click(function(){
			    $(this).parents(".mask").addClass("none");
			});
			$(".tjpj").click(function(){
				  opensuccess();
			})
			function opensuccess(data){
			    $(".sucess_msg").text(data.msg);
				$(".alert_success").parents(".mask").removeClass("none"); 
			   setTimeout(function(){
                        if (data.url) {
                            location.href=data.url;
                        }
               },1000);
				
			}
			function openerror(data){
			    $(".error_msg").text(data.msg);
				$(".alert_error").parents(".mask").removeClass("none");
				setTimeout(function(){
                        if (data.url) {
                          location.href=data.url;
                        }
               },1000);
			}	
   </script>
   </div>
</body>
</html>
