<!-- 头部 -->
	{include file='public/header'}
<!-- 头部 --> 
<!--crumb start-->
	<div class="crumb w100 crumb_01">
		<div class="crumb_in in_width crumb_in_01">
			<p><span class="icon">当前位置：</span><a href="{:U('index/index')}" class="index_a">首页</a>>>
			{$info.id|get_place}
		</p>
		</div>
	</div>
	<!--/crumb end-->	
	<!--main start-->
	<!--/nav end-->
	<div class="cate w100">	
		<div class="cate_in in_width">
			<!--分类start--
			<div class="category_title in_width">
				<a href="javascript:void(0);" class="cate_all fl">全部分类</a>
				{foreach $info["cate_ids"] as $vo}  
				<span class="fl right_arr"></span>
				<a class="fl"  href="{:U('goods/lists?id='.$vo)}">{$vo|get_category_title}</a>
				{/foreach}
				<span class="fl right_arr"></span>
				<a class="fl" href="{:U('goods/lists?id='.$info['id'])}">{$info.title}</a>
				<span class="fr goods_total">共<span class="goods_total_num">{$res.total}</span>件商品</span>
			</div>
			<!--分类end-->
			
		{notempty name="brandlist"}
			<div class="category_name in_width f12 category_item brand">
				<div class="category_item_title fl">品牌：</div>
				<div class="category_name_list fl category_item_list">
					<ul>
						{volist name="brandlist" id="vo" key="k" empty=""}

						<li>
							<a   attr-id="{$vo.id}" href="javascript:void(0);" onclick=" mutilbrandCheckClick(this);"
							{if condition="is_checked($vo['id'],$info['brand_id'])"}class="checked"{/if}>{$vo.title}</a>
						</li>
					{/volist}
					</ul>
				</div>
				<div class="category_opr fr">
					<span class="category_opr_btn more {if condition="count($brandlist) lt 13"}none{/if}">更多</span>
					<span class="category_opr_btn mul_sel">多选</span>
				</div>
				<div class="multi_check_info in_width none">
					<div class="multi_btn_group">
						<span class="multi_btn_confirm none">确认</span>
						<span class="multi_btn_cancel" onclick="cancelMutilCheck(this);">取消</span>
					</div>
				</div>
			</div>
{/notempty}
		{notempty name="attr_list"}
			{volist name="attr_list" id="vo" key="k" empty=""}
			<!--衣长-->
			<div class="category_length in_width f12 category_item item{if condition="$k gt 5"} none
           {/if}">
				<div class="category_item_title fl">{$vo.title}：</div>
				<div class="category_length_list fl category_item_list">
					<ul>
						{volist name="vo['type']" id="vo1"}
						 <li>
							<a attr-id="{$vo1.id}" href="javascript:void(0);" onclick="mutilCheckClick(this);" {if condition="is_checked($vo1['id'],input('attrs'))"}class="checked"{/if}>{$vo1.title}</a>
						 </li>
						{/volist}
					</ul>
				</div>
				<div class="category_opr fr">
				<span class="category_opr_btn more {if condition="count($vo['type']) lt 10"}none{/if}">更多</span>
					<span class="category_opr_btn mul_sel">多选{$vo.id}</span>
				</div>
				<div class="multi_check_info in_width none">
					<div class="multi_btn_group">
						<span class="multi_btn_confirm none">确认</span>
						<span class="multi_btn_cancel" onclick="cancelMutilCheck(this);">取消</span>
					</div>
				</div>
			</div>
			{/volist}
		    
			{if condition="count($attr_list) gt 5"}
			<!---->
			<div class="category_more in_width f12" id="categoryMore">
			    <span class="cm_wrap" data-more="{volist name="attr_list" id="vo" offset="5" key="k" length="3"}{$vo.title}{if condition="count($attr_list) eq ($k+5)"}{else/}、{/if}{/volist} 等">
				更多选项（{volist name="attr_list" id="vo" offset="5" length="3" key="k"}{$vo.title}{if condition="count($attr_list) eq ($k+5)"}{else/}、{/if}{/volist}等）<i></i></span>
		    </div> 
			{/if}
		</div>
		{/notempty}
	</div>	
	
	<!--goodsmain start-->
	<div class="gm w100">
		<div class="gm_in in_width">
			<div class="gm_in_left">
				<div class="jxsp">
					<div class="jxsp_t">浏览排行</div>
					{volist name="view_list" id="vo"}
					<div class="jxsp_item">
						<a href="{:url('goods/detail?id='.$vo['id'])}"><img src="{$vo.cover_id|get_cover='path'}"/></a>
						<div class="jxsp_title">{$vo.title}</div>
						<div class="jxsp_price">￥ {$vo.price}</div>
						<div class="jxsp_evaluate">已有{$vo.comments}人评价</div>
					</div>
					{/volist}
				</div>
			
			</div>
			<div class="gm_in_right">
					<form id="search_form" action="{:url('')}" method="get">      
				<!--toolbar-->
				<div class="gm_r_toolbar">
					<span class="gm_tools all_rule fl gm_select {if condition="$info['order'] eq 1"}active
{/if}">
						<span class="gm_tools_content">综合</span>
						<i class="arrow"></i>
					</span>
					<span class="gm_tools sales_quantity fl gm_select {if condition="$info['order'] eq 2"}active
{/if}">
						<span class="gm_tools_content">销量</span>
						<i class="arrow"></i>
					</span>
					<span class="gm_tools new_p fl gm_select {if condition="$info['order'] eq 3"}active
{/if}">
						<span class="gm_tools_content">新品</span>
						<i class="arrow"></i>
					</span>
					<span class="gm_tools evaluation fl gm_select {if condition="$info['order'] eq 4"}active
{/if}">
						<span class="gm_tools_content">评论</span>
						<i class="arrow"></i>
					</span>
					<span class="gm_tools price fl {if condition="$info['order'] eq 5"}active {$info['range']} 
{/if} ">
						<span class="gm_tools_content">价格</span>
						<i class="arrow1">
							<i class="arrow-top"></i>
							<i class="arrow-bottom"></i>
						</i>
					</span>
					<span class="price_arrange">
						<div class="pc_content">
							<div class="pc_content_top">
								<input type="text" name="start_price" value="{$info.start_price|default=''}" placeholder="￥"/>
								<span>-</span>
								<input type="text" name="end_price" value="{$info.end_price|default=''}" placeholder="￥"/>
							</div>
							<div class="content_bottom">
								<span class="clear">清空</span>
								<span class="confirm">确认</span>
							</div>
						</div>
					</span>
					<span class="free_post {if condition="$info['baoyou'] eq 1"}gm_selected{/if}">商家包邮</span>
					<span class="in_storage {if condition="$info['has'] eq 1"}gm_selected{/if}">仅显示有货</span> 
					<div class="page_info">
						<span class="page_num"><span class="red_font">{$info.page}</span>/{$res.count}</span>
						<span class="pre {if condition="($info.page elt 1)"}disable{/if} "></span>
						<span class="next {if condition="$info.page eq $res.count"}disable{/if} "></span>
					</div>
				</div>	
				<input name="range"  value="{$info.range|default=''}" type="hidden">
				<input name="brand_id"  value="{$info.brand_id|default=''}" type="hidden">
				<input name="order"  value="{$info['order']|default=''}" type="hidden">
				<input name="id"  value="{$info.id|default=''}" type="hidden">
				<input name="page"  value="{:input('page')}" type="hidden">
				<input name="sort"   value="{$info.sort|default=''}"type="hidden">
				<input name="baoyou"   value="{$info.baoyou|default=''}"type="hidden">
				<input name="has"   value="{$info.has|default=''}"type="hidden">
				<input name="attrs" class="attrs"  type="hidden"  value="{$info.attrs|default=''}">
			   </form>
				<!--goods_list-->
				<script type="text/javascript" src="__JS__/jquery.lazyload.js"></script>
				<div class="gl_wrapper">
					{volist name="res.list" id="vo"  key="k" }
					<div class="gl_item">
						<a href="{:url('goods/detail?id='.$vo['id'])}"><img class="gl_item_img lazy" data-original="{$vo.cover_id|get_cover='path'}"/></a>
						
						<div class="gl_item_price">￥{$vo.price}</div>
						<a class="gl_item_name" href="{:url('goods/detail?id='.$vo['id'])}"> {$vo.title}</a>
						<div class="gl_item_evaluate">已有{$vo.comments}人评价</div>
					
					</div>
					 {/volist}
					
					
				</div>
				<div style="clear:both;"></div>
				<div class="pagination_div">
					 <div class="page">
									      {$res.page}
								 </div>
					
				</div>	
			</div>
			<div style="clear:both;"></div>
		</div>
		
	</div>
	<!--goodsmain end-->
	
		
	<script>
	  function deNum(obj){
		   var cur_num = $(obj).parents('.shopping_num').find('input').val();
				if(cur_num <= 0){
					$(obj).parents('.shopping_num').find('input').val(0);
				}else{
					cur_num--;
					$(obj).parents('.shopping_num').find('input').val(cur_num);
				}	
		} 
		
	function addNum(obj){
		  var cur_num = $(obj).parents('.shopping_num').find('input').val();
				if(cur_num >= 99){
					$(obj).parents('.shopping_num').find('input').val(99);
				}else{
					cur_num++;
					$(obj).parents('.shopping_num').find('input').val(cur_num);
				}
		} 
     function addcart(obj,goodsid){
		  
				var num = $(obj).parents('.item_act').find('input').val();
				var cart_url="{:url('cart/addlist')}";
		       $.post(cart_url,{goodsid:goodsid,num:num},function(data){
                     
					 if(data.status){  
					    
					      if(data.isin>0){
					          $('.span_r').text("¥"+data.price);
						      $('.item_num_'+data.sku_id).text(data.num); 
					     }
                         else{					
						    $('#minicart_list ul').append(data.tpl);
					    } 
						
						$('.tNum').text(data.count);
						$('.cart_num').text(data.sum);
						$('.tSum').text("¥"+data.total);
					 }
					 else{
					    alert(data);
					 
					 }
                });
		   
		}   
	function preview(obj){
		   var src=$(obj).attr("src");
		   $(obj).parents(".gl_item").find(".gl_item_img").attr("src",src);
		} 
		$(function(){
			bindEvent();
		});
		function getIds() {     
		   //全选遍历
		    var result=new Array();
			var option = $(".item .checked");
		    option.each(function(i){
			     var id=$(this).attr("attr-id");
				 result.push(id);
		    });
			return result.join(",");		
	  }
	  function getbrands() {     
		   //全选遍历
		    var result=new Array();
			var option = $(".brand .checked");
		    option.each(function(i){
			     var id=$(this).attr("attr-id");
				 result.push(id);
		    });
			return result.join(",");		
	  }
 		function bindEvent(){
		  $(".multi_btn_confirm").click(function(){ 
		   //进行搜索属性拼接，同级属性(OR)用','分割，不同级属性（AND）用'|'分割
		      setBrandVal();
			  setAttrsVal();      
		      $("#search_form").submit();
		  
		});
	
	
			//更多事件绑定
			$(".category_opr_btn.more").click(function(){
				var parent = $(this).parents(".category_item").first();
				var ul_sc = parent.find(".category_item_list").first();
				if($(this).hasClass("active")){
					$(this).removeClass("active");
					$(this).text("更多");
					ul_sc.removeClass("m_h_160");
				}else{
					$(this).addClass("active");
					$(this).text("收起");
					ul_sc.addClass("m_h_160");
				}
				if(parent.hasClass("show_all")){
					parent.removeClass("show_all");
				}else{
					parent.addClass("show_all");
				}
			});
			//多选事件绑定
			$(".category_opr_btn.mul_sel").click(function(){
				var parent= $(this).parents(".category_item");
				var ul_sc = parent.find(".category_item_list").first();
				if(!parent.hasClass("show_all")){
					parent.addClass("show_all");
				}
				ul_sc.addClass("m_h_160");
				parent.find(".category_item_list").addClass("multi_check");
				parent.find(".category_opr").addClass("none");
				parent.find(".multi_check_info").removeClass("none");
			});
			//更多选项展开折叠
			$("#categoryMore .cm_wrap").click(function(){
				if($(this).hasClass("opened")){
					$(this).removeClass("opened");
					$(".cate_in .category_item:gt(5)").addClass("none");
					$(this).html("更多选项（"+ $(this).attr("data-more") +"）<i></i>");
				}else{
					$(this).addClass("opened");
					$(".cate_in .category_item").removeClass("none");
					$(this).html("收起<i></i>");
				}
			});
			//综合、销量、新品、评论事件绑定
			$(".gm_tools.gm_select").click(function(e){
				if(!$(this).hasClass("active")){
					$(this).addClass("active").siblings(".gm_tools.gm_select").removeClass("active");
					$(".gm_tools.price").removeClass("active").removeClass("down").removeClass("up");
				}
				var order=$(this).index()+1;
				$("input[name='order']").val(order); 
				$("#search_form").submit();
			});
			//价格排序
			$(".gm_tools.price").click(function(){
				if(!$(this).hasClass("active")){
					$(this).addClass("active").removeClass("down").addClass("up");
					$(this).siblings(".gm_tools.gm_select").removeClass("active");
					$("input[name='range']").val("up");
				}else{
					if($(this).hasClass("up")){
						$(this).addClass("down").removeClass("up");
						$("input[name='range']").val("down");
					}else{
						$(this).removeClass("down").addClass("up");
						$("input[name='range']").val("up");
					}
				}
				$("input[name='order']").val(5);
				$("#search_form").submit();
			});
			//翻页事件
			$(".page_info .pre").click(function(){
				if($(this).hasClass("disable")){
					return false;
				}else{
					var page=$(".red_font").text();
					$("input[name='page']").val(parseInt(page)-1);
			        $("#search_form").submit();
				}
			});
				//翻页事件
			$(".page_info .next").click(function(){
				if($(this).hasClass("disable")){
					return false;
				}else{
				    var page=$(".red_font").text();
					$("input[name='page']").val(parseInt(page)+1);
			        $("#search_form").submit();
				}
			});
			//仅显示有货和商家包邮多选按钮
			$(".free_post").click(function(){
				if($(this).hasClass("gm_selected")){
					$(this).removeClass("gm_selected");
					$("input[name='baoyou']").val(0);
				}else{
					$(this).addClass("gm_selected");
					$("input[name='baoyou']").val(1);
				}
				$("#search_form").submit();
			});
			//仅显示有货和商家包邮多选按钮
			$(".in_storage").click(function(){
				if($(this).hasClass("gm_selected")){
					$(this).removeClass("gm_selected");
					$("input[name='has']").val(0);
				}else{
					$(this).addClass("gm_selected");
					$("input[name='has']").val(1);
				}
				$("#search_form").submit();
			});
			//清空按钮
			$(".price_arrange .clear").click(function(){
				$(this).parents(".pc_content").find(".pc_content_top input[type='text']").val("");
			});
			//确认按钮
			$(".content_bottom .confirm").click(function(){
				$("#search_form").submit();
			});
			//底部翻页
			$(".pagination_content_div a.page_num").click(function(){
				if(!$(this).hasClass("cur_page")){
					$(this).addClass("cur_page").siblings(".pagination_content_div a.page_num").removeClass("cur_page");
				}
			});
		}
       function   setBrandVal(){
	          var searchString =getbrands();
			  $("input[name='brand_id']").val(searchString);
				 	
	  
	  }
	  function   setAttrsVal(){
	          var searchString = getIds();
			  $("input[name='attrs']").val(searchString);
				 	
	  
	  }
	   //品牌跳转
		function mutilbrandCheckClick(obj){
			var $this = $(obj);
			if($this.hasClass("checked")){
				$this.removeClass("checked");
			}else{
			  $this.addClass("checked");
			}
			 setBrandVal();;
			
			if(!$this.parents(".category_item_list").hasClass("multi_check")){
				$("#search_form").submit();
			}
			
			var siblings = $this.parents(".category_item_list").find("ul li a.checked");
			var parent = $this.parents(".category_item").find(".multi_btn_confirm");
			if(siblings.length > 0){
				parent.removeClass("none");
			}else{
				parent.addClass("none");
			}
			
		}
		//链接跳转
		function mutilCheckClick(obj){
			var $this = $(obj);
			if($this.hasClass("checked")){
				$this.removeClass("checked");
			}else{
				$this.addClass("checked");
			}
			setAttrsVal();
			if(!$this.parents(".category_item_list").hasClass("multi_check")){
				$("#search_form").submit();
			}
			
			var siblings = $this.parents(".category_item_list").find("ul li a.checked");
			var parent = $this.parents(".category_item").find(".multi_btn_confirm");
			if(siblings.length > 0){
				parent.removeClass("none");
			}else{
				parent.addClass("none");
			}
			
		}
		//分页
       $(".page a").click(function(e) {
             e.preventDefault(); // 阻止默认事件
             e.stopPropagation(); // 阻止冒泡
			var Regx = /page\=(\d)/g; 
			var url=$(this).attr("href");
           	var str= url.match(Regx);	
			var str=str.toString();
			var page=str.substring(5);
			$("input[name='page']").val(page);
			$("#search_form").submit();
       });		
		function cancelMutilCheck(obj){
			var parent= $(obj).parents(".category_item").first();
			var ul_sc = parent.find(".category_item_list").first();
			if(parent.hasClass("show_all")){
				parent.removeClass("show_all");
			}
			ul_sc.removeClass("m_h_160");
			parent.find(".category_item_list").removeClass("multi_check");
			parent.find(".category_opr").removeClass("none");
			parent.find(".multi_check_info").addClass("none");
		}
	</script>	
	<!--/main end-->	
{include file='public/footer'}

	<!--弹窗  start-->
	<div class="spxq_tc" style="display:none">
		<p class="scu f14">成功添加到购物车</p>
		<p class="price f12">购物车共有<span class="tNum">1</span>种商品 总金额为：<span class="tSum">¥32400.00</span></p>
		<div class="btns f12">
			<a href="{:U('cart/index')}" class="ck fl">查看购物车</a>
			<a href="javascript:;" class="go fl">继续购物</a>
		</div>
		<a href="javascript:;" class="close f16">X</a>
	</div>
	<!--弹窗  end-->
	<script type="text/javascript">
		$(function(){
			//展开更多信息
			$('.spxq_main .spxq_main_in .top_div .lft_pic .b_div .compare i').click(function(){
				if($(this).hasClass('sel')){
					$(this).removeClass('sel');					
				}else{
					$(this).addClass('sel');		
				}
			});
			//规格
			$('.spxq_main .spxq_main_in .top_div .pro_info .guige .sel_ul li').click(function(){
				$(this).addClass('current').siblings().removeClass('current');
			});
			//材质
			$('.spxq_main .spxq_main_in .top_div .pro_info .caizhi .sel_ul li').click(function(){
				$(this).addClass('current').siblings().removeClass('current');
			});
			//加减
			$('.spxq_main .spxq_main_in .top_div .pro_info .num_input .ipt_l #num_ipt').val(1);
			$('.spxq_main .spxq_main_in .top_div .pro_info .num_input .ipt_l .btn .jian').click(function(){	
				var cur_num = $(this).parent('.btn').siblings('#num_ipt').val();
				if(cur_num <= 0){
					$(this).parent('.btn').siblings('#num_ipt').val(0);
				}else{
					cur_num--;
					$(this).parent('.btn').siblings('#num_ipt').val(cur_num);
				}	
			})
			$('.spxq_main .spxq_main_in .top_div .pro_info .num_input .ipt_l .btn .jia').click(function(){
				var cur_num = $(this).parent('.btn').siblings('#num_ipt').val();
				if(cur_num >= 99){
					$(this).parent('.btn').siblings('#num_ipt').val(99);
				}else{
					cur_num++;
					$(this).parent('.btn').siblings('#num_ipt').val(cur_num);
				}
			})
			//商品分类 
			$('.spxq_main .spxq_main_in .details .lft_pan .spfl .tab_ul li').click(function(e) {
				$(this).addClass('current').siblings().removeClass('current');
				var this_index = $(this).index();
				$(this).closest('.tab_ul').siblings('.tab_div').find('.list_div').eq(this_index).addClass('current');
				$(this).closest('.tab_ul').siblings('.tab_div').find('.list_div').eq(this_index).siblings('.list_div').removeClass('current');
			});
			//商品排行 
			$('.spxq_main .spxq_main_in .details .lft_pan .spph .tab_ul li').click(function(e) {
				$(this).addClass('current').siblings().removeClass('current');
				var this_index = $(this).index();
				$(this).closest('.tab_ul').siblings('.tab_div').find('.list_div').eq(this_index).addClass('current');
				$(this).closest('.tab_ul').siblings('.tab_div').find('.list_div').eq(this_index).siblings('.list_div').removeClass('current');
			});
			
			//右侧tab1
			$('.spxq_main .spxq_main_in .details .rgt_pan .rgt_pan_con').eq(0).show()
			$('.spxq_main .spxq_main_in .details .rgt_pan .tit ul li').click(function(e) {
				$(this).addClass('current').siblings().removeClass('current');
				var index = $(this).index();
				$('.spxq_main .spxq_main_in .details .rgt_pan .rgt_pan_con').eq(index).show().siblings('.spxq_main .spxq_main_in .details .rgt_pan .rgt_pan_con').hide();
			});
			//sel_div
			$('.spxq_main .spxq_main_in .details .rgt_pan .rgt_pan_con.sppj_con .spms .div_r .sel_div').click(function(){
				if($(this).hasClass('cl')){
					$(this).removeClass('cl');					
				}else{
					$(this).addClass('cl');		
				}
			});
			//tit_sel .ul_l li
			$('.spxq_main .spxq_main_in .details .rgt_pan .rgt_pan_con.sppj_con .pj_list .tit_sel .ul_l li input').click(function(){				
				if($(this).attr('checked') == 'checked'){
					$(this).attr('checked','checked');
					$(this).parent('li').siblings('li').children('input').removeAttr("checked");
				}else{
					
					$(this).removeAttr("checked");
					$(this).parent('li').siblings('li').children('input').removeAttr("checked");
				}
			});
			//
			$('.spxq_main .spxq_main_in .details .rgt_pan .rgt_pan_con.sppj_con .pj_list .tit_sel .div_r .xl').click(function(){
				if($(this).hasClass('sel')){
					$(this).removeClass('sel');					
				}else{
					$(this).addClass('sel');		
				}
			});
			//page
			$('.spxq_main .spxq_main_in .details .rgt_pan .rgt_pan_con.sppj_con .pj_list .list_del .page_div .con .page_ul li').click(function(){
				$(this).addClass('current').siblings().removeClass('current');
			});
			
			//page2
			$('.spxq_main .spxq_main_in .details .rgt_pan .rgt_pan_con.xsjl_con .zx_list .xx_list .page_div_03 ul li').click(function(e) {
				$(this).addClass('current').siblings().removeClass('current');			
			});
			
			//商品分类 
			$('.spxq_main .spxq_main_in .details .rgt_pan .rgt_pan_con.gmzx_con .zx_del .zx_tab ul li').click(function(e) {
				$(this).addClass('current').siblings().removeClass('current');
				var this_index = $(this).index();
				$(this).closest('.zx_tab').siblings('.zx_list').eq(this_index).addClass('current');
				$(this).closest('.zx_tab').siblings('.zx_list').eq(this_index).siblings('.zx_list').removeClass('current');
			    var n=this_index;
				consult(1,n);
			});
			
			//弹窗 
			$('.spxq_tc .close').click(function(e) {
				$('.spxq_tc').hide();
			});
			//弹窗 
			$('.spxq_tc .go').click(function(e) {
				$('.spxq_tc').hide();
			});
			
		})
	
		var goodsid="{$info.id}";
         function consult(p,type){    //user函数名 一定要和action中的第三个参数一致上面有
                  
                    $.get('{:U("goods/consult")}', {p:p,goodsid:goodsid,type:type}, function(data){  //用get方法发送信息到UserAction中的user方法
                     $("#consult").replaceWith("<div  class='xx_list' id='consult'>"+data+"</div>"); //user一定要和tpl中的一致
                });
         }
		 function sortNum(a,b) {
               return a - b; //升序，如降序，把“a - b”该成“b - a”
         }
        function addCart(){
		     var result = new Array(); 
			 //var ids=$(".caizhi .current");
                $(".caizhi .current").each(function () {
                        result.push($(this).attr("attr_id"));

                });

               if(result){
			       var id=result.sort(sortNum);
				}
				var id=result.join(",");
				var num=$("#num_ipt").val();
				
		       $.post(post_url,{path:id,goodsid:goodsid,num:num},function(data){
                     
					 if(data.status){  
					      $(".none_tips").hide();
					      $(".checkout_box").show();
					      if(data.isin>0){
					          $('.span_r').text("¥"+data.price);
						      $('.item_num_'+data.stock_id).text(data.num); 
					     }
                         else{					
						    $('#minicart_list ul').append(data.tpl);
					    } 
						$('.spxq_tc').show(); 
						$('.tNum').text(data.count);
						$('.cart_num').text(data.sum);
						$('.tSum').text("¥"+data.total);
					 }
					 else{
					 alert(data.info);
					 
					 }
                });
		   
		}     
   </script>
   <script type="text/javascript" charset="utf-8">
  $(function() {
      $("img.lazy").lazyload({effect: "fadeIn"});
  });
</script>
</div>
</body>
</html>
