 <!-- 头部 -->
	{include file='public/header'}
<!-- 头部 --> 
	
			<div class="content">
				<div class="tips_msg none"><span class="tips">保存成功</span><span class="close_tips"></span></div>
				<div class="edit_title"><span class="title"><i class="fa fa-{$now.font|default=''}"></i>{$meta_title|default=""}</span></div>
				<div class="search">
					<form class="search-form"  action="{:url()}" method="post">
					  <div class="group">
					       名称：<input type="text" name="title" class="search_ipt" value="{:input('title')}"/>
					  
					  </div>
						  <div class="group">
					     链接：<input type="text" name="url"  class="search_ipt" value="{:input('url')}"/>
					  </div>
					   

					<div class="search_btn" onclick="$('.search-form').submit()">搜索</div>
					</form>
					</div>
				<div class="table">
					<div class="edit">
						<div class="edit_left ">
							<a href="{:U('add')}" class="add cur">新增</a>
							<a  data-url="{:U('del')}" class="delete cur">删除</a>
						</div>
						<div class="search_right">
							<input type="text" value="{:input('title')}"/>
							<div class="search_btn"></div>
						</div>
					</div>
					<table class="list_table">
					    <tr>
							<th> <input class="checkbox check-all" type="checkbox"> </th>
							<th>id</th><th class="">名称</th>
							<th class="">链接</th>
							<th class="">排序</th>
							<th class="">状态</th>
							<th class="">操作</th>
				
                       </tr>
				       {volist name="res.list" id="vo"}
                           <tr class="even gradeC">
                               <td> <input class="ids row-selected" type="checkbox" name="id[]" value="{$vo.id}"> </td>
							   <td>{$vo.id} </td>
							   <td><a href="{:url('index?pid='.$vo['id'])}">{$vo.title}</a> </td>
			                   <td>{$vo.url}</td>
			                   <td>{$vo.sort}</td>
		                       <td>{eq name="vo.status" value="1"}正常{else/}已禁用{/eq}</td>
			                   <td class="list_opr">
                                     <span class="opr_box">
									 <a href="{:url('edit?id='.$vo['id'])}" class="edit_btn cur">编辑</a>
									 <a data-url="{:url('del?id='.$vo['id'])}" class="del_btn cur">删除</a>
								</span>          
                                </td>
                               </tr>
											
					   {/volist}
					</table>
					<!--分页-->
					<ul class="pagination">
						  {$res.page}
					</ul>
				</div>
				
			</div>
		</div>
  <script src="__JS__/style.js"></script>
	 <!-- 头部 -->
	{include file='public/footer'}
<!-- 头部 --> 

