<!-- 头部 -->
	{include file='public/toolbar'}
<!-- 头部 --> 
	<!--logo start-->
	<div class="logo w100">
		<div class="logo_in in_width tjdd_in_width">
			<h1 class="logo_pic fl"><a href="{:url('index/index')}"><img title="YERSHOP" src="__IMG__/logo_pic.gif" width="201" height="59" /></a></h1>			
			<div class="jd_div fr">
				<ul>
					<li class="li_01">
						<span class="icon"></span>
						<div class="line"><span class="yq"></span></div>
						<p class="txt f12">我的购物车</p>
					</li>
					<li class="li_02">
						<span class="icon"></span>
						<div class="line"><span class="yq"></span></div>
						<p class="txt f12">确认订单</p>
					</li>
					<li class="li_03">
						<span class="icon"></span>
						<div class="line"><span class="yq"></span></div>
						<p class="txt f12">支付提交</p>
					</li>
					<li class="li_04 current">
						<span class="icon"></span>
						<div class="line"><span class="yq"></span></div>
						<p class="txt f12">订单完成</p>
					</li>
				</ul>
			</div>			
		</div>
	</div>
	<!--/logo end--> 
	<!--main start-->
	<div class="main w100 tjdd_main">
		<div class="main_in in_width tjdd_main_in">
			<div class="tjcg_con">
				<img src="__IMG__/tjcg_pic_01.gif" class="icon_l fl"/>
				<div class="txt_r fl f14">
				   {if condition="$info.model eq 'order'"}
					<p class="txt_01 f16">您已成功付款<span>{$info['total_money']}</span>元！</p>
					<p class="txt_02"></p>
					<p class="txt_03">
					   
						<a href="{:url('order/index')}" class="fl">已买到宝贝列表</a>
						<span class="line fl">|</span>
						<a href="{:url('order/detail?id='.$info['order_id'])}" class="fl">订单详情</a>
						<span class="line fl">|</span>
					</p>
				   {/if}
				    {if condition="$info.model eq 'account'"}
					<p class="txt_01 f16">您已成功充值<span>{$info['total_money']}</span>元！</p>
					<p class="txt_02"></p>
					<p class="txt_03">
					   
						<a href="{:url('pay/lists')}" class="fl">充值记录</a>
						<span class="line fl">|</span>
						<a href="{:url('pay/index')}" class="fl">继续充值</a>
						<span class="line fl">|</span>
					</p>
				   {/if}
				</div>
			</div>
		</div>

	</div>
	<!--/main end-->	
	{include file='Public/footer'}
	
	<script type="text/javascript">
		$(function(){		
			
		})
	</script>
</body>
</html>
