 <!-- 头部 -->
	{include file='public/header'}
<!-- 头部 --> 
			<div class="content">
			<div class="tips_msg none"><span class="tips">保存成功</span><span class="close_tips"></span></div>
				<div class="edit_title">{$meta_title|default=""}</div>
				<div class="edit_box">
					<div class="edit_tab">
						<div class="tab_option on">基础</div>
						<div class="tab_option">高级</div>
					</div>
					<div class="edit_content">
							 <form class="group-form"  action="{:url('')}" method="post">
							     <div class="edit_content_tab">

								        <div class="form-group">
											 <label>名称<span>(标题)</span></label>
											 <div class="form-input">
												 <input type="text" name="title" value="{$info.title|default=""}">
											 </div>  
								       </div> 

								        <div class="form-group">
									         <label>上级分类<span>(所属分类)</span></label>
										     <div class="form-input">
											    <select name="category_id" >
												  <option value="0">无</option>   
												  {volist name="list" id="vo"}
													<option value="{$vo.id}">{$vo.title}</option>
												  {/volist}
												 </select>
											</div>
								        </div>

				      	                 <div class="form-group">
												<label>图片<span>(图片名称)</span></label> 
												<div id="cover_id" class="container">
													<div id="file_cover_id">你的浏览器不支持flash,Silverlight或者HTML5！</div>
													<input type="hidden" name="cover_id"  value="{$info.cover_id|default=''}">
													<a id="select_cover_id" href="javascript:void(0);" class='btn'>选择文件</a>
													<a id="post_cover_id" href="javascript:void(0);" class='btn'>开始上传</a>
												</div>
		
											    <div class="uploader_preview">
													  {notempty name="info['cover_id']"}
															  <div class="uploader-pre-item"> <img src="{$info.cover_id|get_cover_path}"/>
															 </div>
														{/notempty}
												</div>

												<script type="text/javascript">  
													var field="cover_id";
													upload(field);
												</script>	
                                        </div>
							 
						         </div>

						         <div class="edit_content_tab none">
							   
							         <div class="form-group">
							             <div class="form-input">
									     <label>状态<span>(0-禁用，1-正常)</span></label>
									 	     <input type="text" name="status" value="{$info.status|default="1"}"/>
									    </div>
							         </div>

							   </div>

						       </div>
						       <div class="btn_group">
						           <input type="hidden" name="id" value="{$info.id|default=""}">
							       <div class="confirm_btn">确认</div>
							       <div class="cancel_btn">返回</div>
						        </div>
							</form> 
					    </div>
				    </div>
			    </div>
		     </div>
	         <script type="text/javascript">
	         $("select[name='category_id']").val("{$info.category_id|default='0'}");
             </script>
	
		    <script src="__JS__/edit.js"></script>

<!-- 尾部 -->
	{include file='public/footer'}
    <!-- 尾部 --> 
