 <!-- 头部 -->
	{include file='public/header'}
<!-- 头部 --> 
			<div class="content">
				<div class="tips_msg none"><span class="tips">保存成功</span><span class="close_tips"></span></div>
				<div class="edit_title">{$meta_title|default=""}</div>
				<div class="table">
					<div class="edit">
						<div class="edit_left ">
							<a href="{:U('add')}" class="add cur">新增</a>
							<a data-url="{:U('del')}" class="delete cur">删除</a>
						</div>
						<div class="search_right">
							<input type="text" value="{:input('title')}"/>
							<div class="search_btn"></div>
						</div>
					</div>
					<table class="list_table">
				            <tr>	
								 <th class="check"><input class="checkbox check-all" type="checkbox"> </th>
								 <th>id</th>
								 <th>图像</th>
								 <th>用户名称</th>
								 <th>手机</th>
								 <th>邮箱</th>	
								 <th>授权</th>												 
								 <th>操作</th>
                              </tr>
				              {volist name="res.list" id="vo" }
                                   <tr class="even gradeC">
										<td><input class="ids row-selected" type="checkbox" name="id[]" value="{$vo.id}"></td> 
										<td>{$vo.id|default=""}</td>
                                        <td><img src="{$vo.cover_id|get_cover_path}" class="thumb"> </td>
										<td>{$vo.username|default=""}</td>
										<td class="tit">{$vo.mobile|default=""}</td>
										<td>{$vo.email|default="无"} </td>
										<td><a href="{:url('auth/group?uid='.$vo['id'])}" class="edit_btn cur">授权</a> </td>  
										<td class="list_opr">
											<span class="opr_box">
												<a href="{:url('edit?id='.$vo['id'])}" class="edit_btn cur">编辑</a>
												<a data-url="{:url('del?id='.$vo['id'])}" class="del_btn cur">删除</a>
											</span>          
										</td>
                                       </tr>
							{/volist}
					</table>
					<!--分页-->
					<ul class="pagination">
						 {$res.page}
					</ul>
				</div>
			</div>
		</div>
		   <script src="__JS__/style.js"></script> 	
		
	
 <!-- 尾部 -->
	{include file='public/footer'}
 <!-- 尾部 -->
