<!-- 头部 -->
	<include file='public/header'/>
<!-- 头部 --> 
	<!--crumb start-->
	<div class="crumb w100">
		<div class="crumb_in in_width">
			<p>您现在的位置：<a href="javascript:;" class="index_a">首页</a> ><span>账户信息</span></p>
		</div>
	</div>
	<!--/crumb end-->	
	<!--main start-->
	<div class="main w100 grzx_main">
		<div class="main_in in_width grzx_main_in">
		<include file='public/left'/>
			<div class="grzl_right_pan fr">
				<div class="top_tit">
					<h3 class="f12">个人资料</h3>					
				</div>
				<div class="info_div f12">
					<div class="con">
						<p class="tip f15">亲爱的 <span>hong001</span>，填写真实的资料，有助于好友找到你哦。</p>
						<div class="tx">
							<div class="l_txt fl"><span></span>当前头像：</div>
							<div class="pic fl"><img src="__IMG__/zhzx_pic_01.gif"/></div>
						</div>
						<div class="nc">
							<div class="l_txt fl"><span>*</span>昵称：</div>
							<div class="r_div fl">
								<input type="text" />
								<p class="xz">*昵称填写须知：与买家或卖家品牌冲突的昵称，商城将有可能收回</p>
							</div>
						</div>
						<div class="name">
							<div class="l_txt fl"><span></span>真实姓名：</div>
							<div class="r_div fl">
								<input type="text" />
							</div>
						</div>
						<div class="gender">
							<div class="l_txt fl"><span>*</span>性别：</div>
							<div class="r_div fl">
								<div class="male fl"><input type="radio" />男</div>
								<div class="female fl"><input type="radio" />女</div>
							</div>
						</div>
						<div class="date">
							<div class="l_txt fl"><span>*</span>性别：</div>
							<div class="r_div fl">
								<div class="year fl">
									<select name="" id="">
										<option __IMG__/="">年</option>
									</select>
								</div>
								<div class="month fl">
									<select name="" id="">
										<option __IMG__/="">月</option>
									</select>
								</div>
								<div class="day fl">
									<select name="" id="">
										<option __IMG__/="">日</option>
									</select>
								</div>
								<p class="fl">(出生年份为保密)</p>
								<div class="xz fl">
									<div class="fl">星座：</div>
									<select name="" id="" class="sel fl">
										<option __IMG__/=""></option>
									</select>
								</div>
							</div>
						</div>
						<div class="place">
							<div class="l_txt fl"><span></span>居住地：</div>
							<div class="r_div fl">
								<div class="sel_01 fl">
									<select name="" id="">
										<option __IMG__/=""></option>
									</select>
								</div>
								<div class="sel_02 fl">
									<select name="" id="">
										<option __IMG__/=""></option>
									</select>
								</div>
								<div class="sel_03 fl">
									<select name="" id="">
										<option __IMG__/=""></option>
									</select>
								</div>
							</div>
						</div>
						<div class="home">
							<div class="l_txt fl"><span></span>家乡：</div>
							<div class="r_div fl">
								<div class="sel_01 fl">
									<select name="" id="">
										<option __IMG__/=""></option>
									</select>
								</div>
								<div class="sel_02 fl">
									<select name="" id="">
										<option __IMG__/=""></option>
									</select>
								</div>
								<div class="sel_03 fl">
									<select name="" id="">
										<option __IMG__/=""></option>
									</select>
								</div>
							</div>
						</div>
					</div>
					<a href="javascript:;" class="save f14">保存</a>
				</div>
				
			</div>	
		</div>
	</div>
	<!--/main end-->	
<include file='public/footer'/>
	
	<script type="text/javascript">
		$(function(){
			
		})
	</script>
</body>
</html>
