<!-- 头部 -->
	{include file='public/header'/}
<!-- 头部 --> 
	<!--crumb start-->
	<div class="crumb w100">
		<div class="crumb_in in_width">
			<p>您现在的位置：<a href="javascript:;" class="index_a">首页</a> ><span>个人中心</span></p>
		</div>
	</div>
	<!--/crumb end-->	
	<!--main start-->
	<div class="main w100 grzx_main">
		<div class="main_in in_width grzx_main_in">
				{include file='public/left'}
			<div class="grzx_right_pan fr">
				<div class="top_tit">
					<h3 class="f16">交易管理 <span>> 充币记录</span></h3>					
				</div>
				<div class="info_div">
					<div class="div_01">
						<div class="lft fl">
							<div class="tx fl">
								<div class="pic"><img src="__IMG__/tx_pic_01.jpg"/></div>
								<a href="javascript:;" class="bj f12">编辑个人资料</a>
							</div>
							<div class="del fl">
								<div class="name_div">
									<p class="hello fl">您好~ <span class="name">hong001</span></p>
									<p class="f12 fl">（<span></span>yershop商城会员）</p>
								</div>
								<div class="num">
									<span class="icon"></span>
									当前我的剩余币<span>[ 20 ]</span>
								</div>
							</div>
						</div>
						<div class="rgt fr">
							<h4 class="tit_01">快捷菜单</h4>
							<ul class="cd_ul">
								<li>
									<div class="fl div_l"><span class="icon icon_01"></span><span class="txt">我的购物车</span></div>
									<div class="fl div_r"><span class="icon icon_02"></span><span class="txt">我要充值</span></div>
								</li>
								<li>
									<div class="fl div_l"><span class="icon icon_03"></span><span class="txt">我的收货地址</span></div>
									<div class="fl div_r"><span class="icon icon_04"></span><span class="txt">我的退换货</span></div>
								</li>
								<li>
									<div class="fl div_l"><span class="icon icon_05"></span><span class="txt">我的充币记录</span></div>
									<div class="fl div_r"><span class="icon icon_06"></span><span class="txt">我的抽奖信息</span></div>
								</li>
							</ul>
						</div>
					</div>
					<div class="div_02">
						<h4 class="tit_01 fl"><div>产品点查询</div></h4>
						<div class="date fl f12">
							<div class="start fl">
								<span>开始日期：</span>
								<input type="date" />
							</div>
							<div class="end fl">
								<span>结束日期：</span>
								<input type="date" />
							</div>
							<a href="javascript:;" class="search fl">查询</a>
						</div>
						<span class="fl cpd f12">当前产品点：652.00</span>
					</div>
				</div>
				<div class="bd_div">
					<div class="ymd_div">
						<div class="tit_div">
							<h4 class="tit_01 fl">已买到的宝贝</h4>
							<ul class="fl list_ul f12">
								<li><a href="javascript:;">待付款<span>4</span></a></li>
								<li><a href="javascript:;">待确认收货<span>4</span></a></li>
								<li><a href="javascript:;">待评价<span>3</span></a></li>
							</ul>
						</div>
						<div class="del_div">
							<ul class="list f12">
								<li>
									<a href="javascript:;" class="pic fl"><img src="__IMG__/cbjl_pic_02.gif"/></a>
									<div class="rg_div fl">
										<div class="wlzt fl">
											<span class="icon_01"></span>
											<span class="txt">物流派送中</span>
										</div>
										<div class="wl_del fl">
											<p class="p_01">在浙江临安市公司市区城北分部进行签收扫描，快件已被签收</p>
											<p class="time">2014-05-26 15:18:38<a href="javascript:;">查看物流明细</a></p>
										</div>
										<a href="javascript:;" class="sure fr">确认收货</a>
									</div>									
								</li>
								<li>
									<a href="javascript:;" class="pic fl"><img src="__IMG__/cbjl_pic_03.gif"/></a>
									<div class="rg_div fl">
										<div class="wlzt fl">
											<span class="icon_01"></span>
											<span class="txt">物流派送中</span>
										</div>
										<div class="wl_del fl">
											<p class="p_01">已签收，签收人是草签</p>
											<p class="time">2014-05-26 15:18:38<a href="javascript:;">查看物流明细</a></p>
										</div>
										<a href="javascript:;" class="sure fr">确认收货</a>
									</div>	
								</li>
								<li>
									<a href="javascript:;" class="pic fl"><img src="__IMG__/cbjl_pic_04.gif"/></a>
									<div class="rg_div fl">
										<div class="wlzt fl">
											<span class="icon_02"></span>
											<span class="txt">订单处理中</span>
										</div>
										<div class="wl_del fl">
											<p class="p_01">已签收，签收人拍照签收</p>
											<p class="time">2014-05-26 15:18:38<a href="javascript:;">查看物流明细</a></p>
										</div>
										<a href="javascript:;" class="sure fr">确认收货</a>
									</div>	
								</li>
							</ul>
							<a href="javascript:;" class="more f12"><span class="txt fl">展开更多信息</span><span class="pic fl"><img src="__IMG__/more_icon_01.png"/></span></a>
						</div>
					</div>
					<div class="sc_div">
						<div class="sc_del sc_01 fl">
							<div class="tit_div">
								<h4 class="tit_01">我收藏的商品</h4>
							</div>
							<div class="del_div f12">
								<ul class="list">
									<li>
										<div class="pic_div">
											<a href="javascript:;" class="pic"><img src="__IMG__/cbjl_pic_05.gif"/></a>
											<div class="gwc_icon"><span></span></div>
										</div>										
										<a href="javascript:;" class="name">法兰玫女士咬唇不沾...</a>
									</li>
									<li>
										<div class="pic_div">
											<a href="javascript:;" class="pic"><img src="__IMG__/cbjl_pic_06.gif"/></a>
											<div class="gwc_icon"><span></span></div>
										</div>										
										<a href="javascript:;" class="name">壹点壹客芒果慕斯一...</a>
									</li>
									<li>
										<div class="pic_div">
											<a href="javascript:;" class="pic"><img src="__IMG__/cbjl_pic_07.gif"/></a>
											<div class="gwc_icon"><span></span></div>
										</div>										
										<a href="javascript:;" class="name">Biang/连邦LB-E空气...</a>
									</li>
								</ul>
								<a href="javascript:;" class="more f12">查看更多</a>
							</div>
						</div>
						<div class="sc_del sc_02 fl">
							<div class="tit_div">
								<h4 class="tit_01">我收藏的服务项目</h4>
							</div>
							<div class="del_div f12">
								<ul class="list">
									<li>
										<div class="pic_div">
											<a href="javascript:;" class="pic"><img src="__IMG__/cbjl_pic_08.gif"/></a>
											<div class="gwc_icon"><span></span></div>
										</div>										
										<a href="javascript:;" class="name">【林建敏美丽会所】...</a>
									</li>
									<li>
										<div class="pic_div">
											<a href="javascript:;" class="pic"><img src="__IMG__/cbjl_pic_09.gif"/></a>
											<div class="gwc_icon"><span></span></div>
										</div>										
										<a href="javascript:;" class="name">【林建敏美丽会所】...</a>
									</li>
									<li>
										<div class="pic_div">
											<a href="javascript:;" class="pic"><img src="__IMG__/cbjl_pic_10.gif"/></a>
											<div class="gwc_icon"><span></span></div>
										</div>										
										<a href="javascript:;" class="name">【林建敏美丽会所】...</a>
									</li>
								</ul>
								<a href="javascript:;" class="more f12">查看更多</a>
							</div>
						</div>
						<div class="sc_del sc_03 fl">
							<div class="tit_div">
								<h4 class="tit_01">我收藏的专场</h4>
							</div>
							<div class="del_div f12">
								<ul class="list">
									<li>
										<div class="pic_div">
											<a href="javascript:;" class="pic"><img src="__IMG__/cbjl_pic_11.gif"/></a>
											<div class="jrzc">进入专场</div>
										</div>										
										<a href="javascript:;" class="name">【商家专场】新品发...</a>
									</li>
									<li>
										<div class="pic_div">
											<a href="javascript:;" class="pic"><img src="__IMG__/cbjl_pic_11.gif"/></a>
											<div class="jrzc">进入专场</div>
										</div>										
										<a href="javascript:;" class="name">【商家专场】新品发..</a>
									</li>
									<li>
										<div class="pic_div">
											<a href="javascript:;" class="pic"><img src="__IMG__/cbjl_pic_11.gif"/></a>
											<div class="jrzc">进入专场</div>
										</div>										
										<a href="javascript:;" class="name">【商家专场】新品发...</a>
									</li>
								</ul>
								<a href="javascript:;" class="more f12">查看更多</a>
							</div>
						</div>
						<div class="sc_del sc_04 fl">
							<div class="tit_div">
								<h4 class="tit_01">我收藏的服务商</h4>
							</div>
							<div class="del_div f12">
								<ul class="list">
									<li>
										<div class="pic_div">
											<a href="javascript:;" class="pic"><img src="__IMG__/cbjl_pic_12.gif"/></a>
											<div class="jrzc">了解服务商</div>
										</div>										
										<a href="javascript:;" class="name">龙发礼品专区</a>
									</li>
									<li>
										<div class="pic_div">
											<a href="javascript:;" class="pic"><img src="__IMG__/cbjl_pic_12.gif"/></a>
											<div class="jrzc">了解服务商</div>
										</div>										
										<a href="javascript:;" class="name">龙发礼品专区</a>
									</li>
									<li>
										<div class="pic_div">
											<a href="javascript:;" class="pic"><img src="__IMG__/cbjl_pic_12.gif"/></a>
											<div class="jrzc">了解服务商</div>
										</div>										
										<a href="javascript:;" class="name">龙发礼品专区</a>
									</li>
								</ul>
								<a href="javascript:;" class="more f12">查看更多</a>
							</div>
						</div>
					</div>
				</div>
				
				
				
				
			</div>	
		</div>
	</div>
	<!--/main end-->	
	{include file='public/footer'}
	<!--侧边固定栏  start-->
	<div class="nc_appbar">
		<div class="con">		
			<div class="kf">
				<a href="javascript:;">
					<span class="icon"></span>
					<span class="tit f12">我的客服</span>
				</a>
			</div>
			<div class="gwc">
				<a href="javascript:;">
					<span class="icon"></span>
					<p class="tit f12">购</p>
					<p class="tit f12">物</p>
					<p class="tit f12">车</p>
				</a>
			</div>
			<div class="spdb">
				<a href="javascript:;">
					<span class="icon"></span>
					<span class="tit f12">商品比对</span>
				</a>
			</div>
			<div class="dl">
				<a href="javascript:;">
					<span class="icon_01"></span>
					<div class="login_div">
						<i class="arrow"></i>
						<form id="login_form">
							<div class="list">
								<div class="icon icon_02 fl"><div></div></div>
								<input type="text" class="ipt_01 fl"/>
							</div>
							<div class="list">
								<div class="icon icon_03 fl"><div></div></div>
								<input type="text" class="ipt_01 fl"/>
							</div>
							<div class="last">
								<div class="list fl">
									<div class="icon icon_04 fl"><div></div></div>
									<input type="text" class="ipt_02 fl"/>
								</div>
								<div class="yzm fl"><img src="__IMG__/yzm_pic.jpg"/></div>
							</div>
							
							<input type="submit" class="submit f12" value="确认登录">
						</form>
					</div>
				</a>
			</div>
			<div class="to_top">
				<a href="javascript:;">
					<span class="icon"></span>
					<p class="tit f12">TOP</p>
				</a>
			</div>
		</div>
	</div>		
	<!--侧边固定栏  end-->
	<script type="text/javascript">
		$(function(){
			//展开更多信息
			$('.grzx_main_in .grzx_right_pan .bd_div .ymd_div .del_div .more').click(function(){
				if($(this).children('.pic').children('img').attr('src').match('more_icon_01')){
					$(this).children('.pic').children('img').attr('src','__IMG__/more_icon_02.png');					
				}else{
					$(this).children('.pic').children('img').attr('src','__IMG__/more_icon_01.png');		
				}
			});
			
		})
	</script>
</body>
</html>
