<!-- 头部 -->
	<include file='public/header'/>
<!-- 头部 --> 
	<!--crumb start-->
	<div class="crumb w100">
		<div class="crumb_in in_width">
			<p>您现在的位置：<a href="javascript:;" class="index_a">个人中心</a> ><span>密码修改</span></p>
		</div>
	</div>
	<!--/crumb end-->	
	<!--main start-->
	<div class="main w100 grzx_main">
		<div class="main_in in_width grzx_main_in">
			<div class="main_top">
				<include file='public/left'/>
				<div class="mmxg_right_pan fl">
					<div class="con f14">
						<div class="old">
							<div class="l_txt fl">旧密码:</div>
							<input type="text" class="fl"/>
						</div>
						<div class="new">
							<div class="l_txt fl">新密码:</div>
							<div class="r_div fl">
								<div class="t_div wrong">
									<input type="text" class="fl" />
									<p class="fl">（您的密码输入有误，请看提示输入）</p>
								</div>
								<p class="tip">6-20位字符，可由大小写英文、数字或符号组成</p>
							</div>
						</div>
						<div class="re_set">
							<div class="l_txt fl">重置密码:</div>
							<div class="r_div fl">
								<input type="text"/>
								<p class="tip">6-20位字符，可由大小写英文、数字或符号组成</p>
							</div>
						</div>
						<a href="javascript:;" class="done">完成</a>
					</div>
				</div>	
			</div>
			<div class="cnxh">
				<div class="tit"><h3 class="f16">猜你喜欢的</h3></div>
				<div class="tab_div">
					<div class="con">
						<ul>
							<li>
								<a href="javascript:;" class="pic"><img src="__IMG__/mmxg_pic_01.jpg"/></a>
								<div class="price">
									<span class="line_l"></span>
									<div class="num">
										<span class="new fl f18">¥169.90</span>
										<span class="old fl f12">¥289</span>
									</div>
									<span class="line_r"></span>
								</div>
								<a href="javascript:;" class="name f14">艾斯凯全自动足浴盆加热洗脚盆足疗电动按摩泡脚盆深桶足浴器恒温</a>
								<p class="xl f12">月销 1382</p>
							</li>
							<li>
								<a href="javascript:;" class="pic"><img src="__IMG__/mmxg_pic_01.jpg"/></a>
								<div class="price">
									<span class="line_l"></span>
									<div class="num">
										<span class="new fl f18">¥169.90</span>
										<span class="old fl f12">¥289</span>
									</div>
									<span class="line_r"></span>
								</div>
								<a href="javascript:;" class="name f14">艾斯凯全自动足浴盆加热洗脚盆足疗电动按摩泡脚盆深桶足浴器恒温</a>
								<p class="xl f12">月销 1382</p>
							</li>
							<li>
								<a href="javascript:;" class="pic"><img src="__IMG__/mmxg_pic_01.jpg"/></a>
								<div class="price">
									<span class="line_l"></span>
									<div class="num">
										<span class="new fl f18">¥169.90</span>
										<span class="old fl f12">¥289</span>
									</div>
									<span class="line_r"></span>
								</div>
								<a href="javascript:;" class="name f14">艾斯凯全自动足浴盆加热洗脚盆足疗电动按摩泡脚盆深桶足浴器恒温</a>
								<p class="xl f12">月销 1382</p>
							</li>
							<li>
								<a href="javascript:;" class="pic"><img src="__IMG__/mmxg_pic_01.jpg"/></a>
								<div class="price">
									<span class="line_l"></span>
									<div class="num">
										<span class="new fl f18">¥169.90</span>
										<span class="old fl f12">¥289</span>
									</div>
									<span class="line_r"></span>
								</div>
								<a href="javascript:;" class="name f14">艾斯凯全自动足浴盆加热洗脚盆足疗电动按摩泡脚盆深桶足浴器恒温</a>
								<p class="xl f12">月销 1382</p>
							</li>
							<li class="last">
								<a href="javascript:;" class="pic"><img src="__IMG__/mmxg_pic_01.jpg"/></a>
								<div class="price">
									<span class="line_l"></span>
									<div class="num">
										<span class="new fl f18">¥169.90</span>
										<span class="old fl f12">¥289</span>
									</div>
									<span class="line_r"></span>
								</div>
								<a href="javascript:;" class="name f14">艾斯凯全自动足浴盆加热洗脚盆足疗电动按摩泡脚盆深桶足浴器恒温</a>
								<p class="xl f12">月销 1382</p>
							</li>
							<li>
								<a href="javascript:;" class="pic"><img src="__IMG__/mmxg_pic_01.jpg"/></a>
								<div class="price">
									<span class="line_l"></span>
									<div class="num">
										<span class="new fl f18">¥169.90</span>
										<span class="old fl f12">¥289</span>
									</div>
									<span class="line_r"></span>
								</div>
								<a href="javascript:;" class="name f14">艾斯凯全自动足浴盆加热洗脚盆足疗电动按摩泡脚盆深桶足浴器恒温</a>
								<p class="xl f12">月销 1382</p>
							</li>
							<li>
								<a href="javascript:;" class="pic"><img src="__IMG__/mmxg_pic_01.jpg"/></a>
								<div class="price">
									<span class="line_l"></span>
									<div class="num">
										<span class="new fl f18">¥169.90</span>
										<span class="old fl f12">¥289</span>
									</div>
									<span class="line_r"></span>
								</div>
								<a href="javascript:;" class="name f14">艾斯凯全自动足浴盆加热洗脚盆足疗电动按摩泡脚盆深桶足浴器恒温</a>
								<p class="xl f12">月销 1382</p>
							</li>
							<li>
								<a href="javascript:;" class="pic"><img src="__IMG__/mmxg_pic_01.jpg"/></a>
								<div class="price">
									<span class="line_l"></span>
									<div class="num">
										<span class="new fl f18">¥169.90</span>
										<span class="old fl f12">¥289</span>
									</div>
									<span class="line_r"></span>
								</div>
								<a href="javascript:;" class="name f14">艾斯凯全自动足浴盆加热洗脚盆足疗电动按摩泡脚盆深桶足浴器恒温</a>
								<p class="xl f12">月销 1382</p>
							</li>
							<li>
								<a href="javascript:;" class="pic"><img src="__IMG__/mmxg_pic_01.jpg"/></a>
								<div class="price">
									<span class="line_l"></span>
									<div class="num">
										<span class="new fl f18">¥169.90</span>
										<span class="old fl f12">¥289</span>
									</div>
									<span class="line_r"></span>
								</div>
								<a href="javascript:;" class="name f14">艾斯凯全自动足浴盆加热洗脚盆足疗电动按摩泡脚盆深桶足浴器恒温</a>
								<p class="xl f12">月销 1382</p>
							</li>
							<li class="last">
								<a href="javascript:;" class="pic"><img src="__IMG__/mmxg_pic_01.jpg"/></a>
								<div class="price">
									<span class="line_l"></span>
									<div class="num">
										<span class="new fl f18">¥169.90</span>
										<span class="old fl f12">¥289</span>
									</div>
									<span class="line_r"></span>
								</div>
								<a href="javascript:;" class="name f14">艾斯凯全自动足浴盆加热洗脚盆足疗电动按摩泡脚盆深桶足浴器恒温</a>
								<p class="xl f12">月销 1382</p>
							</li>
							<li>
								<a href="javascript:;" class="pic"><img src="__IMG__/mmxg_pic_01.jpg"/></a>
								<div class="price">
									<span class="line_l"></span>
									<div class="num">
										<span class="new fl f18">¥169.90</span>
										<span class="old fl f12">¥289</span>
									</div>
									<span class="line_r"></span>
								</div>
								<a href="javascript:;" class="name f14">艾斯凯全自动足浴盆加热洗脚盆足疗电动按摩泡脚盆深桶足浴器恒温</a>
								<p class="xl f12">月销 1382</p>
							</li>
							<li>
								<a href="javascript:;" class="pic"><img src="__IMG__/mmxg_pic_01.jpg"/></a>
								<div class="price">
									<span class="line_l"></span>
									<div class="num">
										<span class="new fl f18">¥169.90</span>
										<span class="old fl f12">¥289</span>
									</div>
									<span class="line_r"></span>
								</div>
								<a href="javascript:;" class="name f14">艾斯凯全自动足浴盆加热洗脚盆足疗电动按摩泡脚盆深桶足浴器恒温</a>
								<p class="xl f12">月销 1382</p>
							</li>
							<li>
								<a href="javascript:;" class="pic"><img src="__IMG__/mmxg_pic_01.jpg"/></a>
								<div class="price">
									<span class="line_l"></span>
									<div class="num">
										<span class="new fl f18">¥169.90</span>
										<span class="old fl f12">¥289</span>
									</div>
									<span class="line_r"></span>
								</div>
								<a href="javascript:;" class="name f14">艾斯凯全自动足浴盆加热洗脚盆足疗电动按摩泡脚盆深桶足浴器恒温</a>
								<p class="xl f12">月销 1382</p>
							</li>
							<li>
								<a href="javascript:;" class="pic"><img src="__IMG__/mmxg_pic_01.jpg"/></a>
								<div class="price">
									<span class="line_l"></span>
									<div class="num">
										<span class="new fl f18">¥169.90</span>
										<span class="old fl f12">¥289</span>
									</div>
									<span class="line_r"></span>
								</div>
								<a href="javascript:;" class="name f14">艾斯凯全自动足浴盆加热洗脚盆足疗电动按摩泡脚盆深桶足浴器恒温</a>
								<p class="xl f12">月销 1382</p>
							</li>
							<li class="last">
								<a href="javascript:;" class="pic"><img src="__IMG__/mmxg_pic_01.jpg"/></a>
								<div class="price">
									<span class="line_l"></span>
									<div class="num">
										<span class="new fl f18">¥169.90</span>
										<span class="old fl f12">¥289</span>
									</div>
									<span class="line_r"></span>
								</div>
								<a href="javascript:;" class="name f14">艾斯凯全自动足浴盆加热洗脚盆足疗电动按摩泡脚盆深桶足浴器恒温</a>
								<p class="xl f12">月销 1382</p>
							</li>
							<li>
								<a href="javascript:;" class="pic"><img src="__IMG__/mmxg_pic_01.jpg"/></a>
								<div class="price">
									<span class="line_l"></span>
									<div class="num">
										<span class="new fl f18">¥169.90</span>
										<span class="old fl f12">¥289</span>
									</div>
									<span class="line_r"></span>
								</div>
								<a href="javascript:;" class="name f14">艾斯凯全自动足浴盆加热洗脚盆足疗电动按摩泡脚盆深桶足浴器恒温</a>
								<p class="xl f12">月销 1382</p>
							</li>
							<li>
								<a href="javascript:;" class="pic"><img src="__IMG__/mmxg_pic_01.jpg"/></a>
								<div class="price">
									<span class="line_l"></span>
									<div class="num">
										<span class="new fl f18">¥169.90</span>
										<span class="old fl f12">¥289</span>
									</div>
									<span class="line_r"></span>
								</div>
								<a href="javascript:;" class="name f14">艾斯凯全自动足浴盆加热洗脚盆足疗电动按摩泡脚盆深桶足浴器恒温</a>
								<p class="xl f12">月销 1382</p>
							</li>
							<li>
								<a href="javascript:;" class="pic"><img src="__IMG__/mmxg_pic_01.jpg"/></a>
								<div class="price">
									<span class="line_l"></span>
									<div class="num">
										<span class="new fl f18">¥169.90</span>
										<span class="old fl f12">¥289</span>
									</div>
									<span class="line_r"></span>
								</div>
								<a href="javascript:;" class="name f14">艾斯凯全自动足浴盆加热洗脚盆足疗电动按摩泡脚盆深桶足浴器恒温</a>
								<p class="xl f12">月销 1382</p>
							</li>
							<li>
								<a href="javascript:;" class="pic"><img src="__IMG__/mmxg_pic_01.jpg"/></a>
								<div class="price">
									<span class="line_l"></span>
									<div class="num">
										<span class="new fl f18">¥169.90</span>
										<span class="old fl f12">¥289</span>
									</div>
									<span class="line_r"></span>
								</div>
								<a href="javascript:;" class="name f14">艾斯凯全自动足浴盆加热洗脚盆足疗电动按摩泡脚盆深桶足浴器恒温</a>
								<p class="xl f12">月销 1382</p>
							</li>
							<li class="last">
								<a href="javascript:;" class="pic"><img src="__IMG__/mmxg_pic_01.jpg"/></a>
								<div class="price">
									<span class="line_l"></span>
									<div class="num">
										<span class="new fl f18">¥169.90</span>
										<span class="old fl f12">¥289</span>
									</div>
									<span class="line_r"></span>
								</div>
								<a href="javascript:;" class="name f14">艾斯凯全自动足浴盆加热洗脚盆足疗电动按摩泡脚盆深桶足浴器恒温</a>
								<p class="xl f12">月销 1382</p>
							</li>
							<li>
								<a href="javascript:;" class="pic"><img src="__IMG__/mmxg_pic_01.jpg"/></a>
								<div class="price">
									<span class="line_l"></span>
									<div class="num">
										<span class="new fl f18">¥169.90</span>
										<span class="old fl f12">¥289</span>
									</div>
									<span class="line_r"></span>
								</div>
								<a href="javascript:;" class="name f14">艾斯凯全自动足浴盆加热洗脚盆足疗电动按摩泡脚盆深桶足浴器恒温</a>
								<p class="xl f12">月销 1382</p>
							</li>
							<li>
								<a href="javascript:;" class="pic"><img src="__IMG__/mmxg_pic_01.jpg"/></a>
								<div class="price">
									<span class="line_l"></span>
									<div class="num">
										<span class="new fl f18">¥169.90</span>
										<span class="old fl f12">¥289</span>
									</div>
									<span class="line_r"></span>
								</div>
								<a href="javascript:;" class="name f14">艾斯凯全自动足浴盆加热洗脚盆足疗电动按摩泡脚盆深桶足浴器恒温</a>
								<p class="xl f12">月销 1382</p>
							</li>
							<li>
								<a href="javascript:;" class="pic"><img src="__IMG__/mmxg_pic_01.jpg"/></a>
								<div class="price">
									<span class="line_l"></span>
									<div class="num">
										<span class="new fl f18">¥169.90</span>
										<span class="old fl f12">¥289</span>
									</div>
									<span class="line_r"></span>
								</div>
								<a href="javascript:;" class="name f14">艾斯凯全自动足浴盆加热洗脚盆足疗电动按摩泡脚盆深桶足浴器恒温</a>
								<p class="xl f12">月销 1382</p>
							</li>
							<li>
								<a href="javascript:;" class="pic"><img src="__IMG__/mmxg_pic_01.jpg"/></a>
								<div class="price">
									<span class="line_l"></span>
									<div class="num">
										<span class="new fl f18">¥169.90</span>
										<span class="old fl f12">¥289</span>
									</div>
									<span class="line_r"></span>
								</div>
								<a href="javascript:;" class="name f14">艾斯凯全自动足浴盆加热洗脚盆足疗电动按摩泡脚盆深桶足浴器恒温</a>
								<p class="xl f12">月销 1382</p>
							</li>
							<li class="last">
								<a href="javascript:;" class="pic"><img src="__IMG__/mmxg_pic_01.jpg"/></a>
								<div class="price">
									<span class="line_l"></span>
									<div class="num">
										<span class="new fl f18">¥169.90</span>
										<span class="old fl f12">¥289</span>
									</div>
									<span class="line_r"></span>
								</div>
								<a href="javascript:;" class="name f14">艾斯凯全自动足浴盆加热洗脚盆足疗电动按摩泡脚盆深桶足浴器恒温</a>
								<p class="xl f12">月销 1382</p>
							</li>
						</ul>
						
					</div>
					<ol>
						<li></li>
						<li></li>
						<li class="current"></li>
						<li></li>
						<li></li>
					</ol>
					<div class="btn_div">
						<a href="javascript:;" class="prev"><div></div></a>
						<a href="javascript:;" class="next"><div></div></a>
					</div>					
				</div>
			</div>
		</div>

	</div>
	<!--/main end-->	
	<!--footer  start-->
	<div class="footer w100">
		<div class="footer_in in_width f14">
			<div class="footer_top">
				<ul class="fl">
					<li>
						<span>优</span>品质保障
					</li>
					<li>
						<span>七</span>七天无理由退换货
					</li>
					<li>
						<span>特</span>特色服务体验
					</li>
					<li>
						<span>帮</span>帮助中心
					</li>
				</ul>
				<p class="kfdh fr">客服电话：0539-2872999 08:00-17:30(周一至周日)</p>
			</div>
			<div class="site_info">
				<div class="info_list fl">
					<ul>
						<li><a href="javascript:;">新手指南</a></li>
						<li><a href="javascript:;">如何注册成为会员</a></li>
						<li><a href="javascript:;">忘记密码</a></li>
						<li><a href="javascript:;">个人资料修改</a></li>
						<li><a href="javascript:;">账户安全</a></li>
					</ul>
				</div>
				<div class="info_list fl">
					<ul>
						<li><a href="javascript:;">购物指南</a></li>
						<li><a href="javascript:;">购物流程</a></li>
						<li><a href="javascript:;">收货地址管理</a></li>
						<li><a href="javascript:;">订单管理</a></li>
						<li><a href="javascript:;">宝贝/店铺收藏</a></li>
					</ul>
				</div>
				<div class="info_list fl">
					<ul>
						<li><a href="javascript:;">常见问题</a></li>
						<li><a href="javascript:;">售后申请与交易投诉</a></li>
						<li><a href="javascript:;">退款/退货</a></li>
					</ul>
				</div>
				<div class="info_list fl">
					<ul>
						<li><a href="javascript:;">会员与联盟商家</a></li>
						<li><a href="javascript:;">会员计划及会员权益</a></li>
						<li><a href="javascript:;">联盟商家、企业进驻</a></li>
					</ul>
				</div>
				<div class="info_list fl">
					<ul>
						<li><a href="javascript:;">关于我们</a></li>
						<li><a href="javascript:;">商业大系统</a></li>
						<li><a href="javascript:;">运营机制</a></li>
						<li><a href="javascript:;">联系我们</a></li>
					</ul>
				</div>
				<div class="rz fr">
					<div class="icon"><img src="__IMG__/footer_pic_01.gif"/></div>
					<p>商家合作</p>
					<p>错过天猫？别再错过我们！</p>
					<p>开启消费商新纪元！</p>
					<a href="javascript:;" class="msrz f18">马上入驻</a>
				</div>
			</div>
			
		</div>
	</div>
	<!--/footer  end-->
	<!--copy  start-->
	<div class="copy w100">
		<div class="copy_in in_width">
			<div class="pic_01 fl"><img src="__IMG__/copy_pic_01.png"/></div>
			<div class="pic_02 fl"><img src="__IMG__/copy_pic_02.png"/></div>
			<div class="info fl f12">
				<p class="list">
					<a href="javascript:;">返回首页</a>|
					<a href="javascript:;">招聘英才</a>|
					<a href="javascript:;">合作及洽谈</a>|
					<a href="javascript:;">联系我们</a>|
					<a href="javascript:;">关于我们</a>|
					<a href="javascript:;">友情链接</a>
				</p>
				<p class="p_01">CopyRight © 2007-2016  网店运维交流中心 鲁ICP备16018100号-1 NewPower Co.版权所有  客户服务中心(7x24):QQ8988354 Q群：111731672</p>
				<div class="pic_03"><img src="__IMG__/copy_pic_03.png"/></div>
			</div>
		</div>
	</div>
	<!--/copy  end-->
	
	<script type="text/javascript">
		$(function(){
			
			
			//轮播	
			var myFn = function(){
				olKey++;
				if(olKey >4){
					olKey = 0;
				}
				$('.grzx_main_in .cnxh .tab_div ol li').eq(olKey).addClass('current').siblings().removeClass('current');
				imgKey++;
				if(imgKey >4){
					imgKey =1;
					$('.grzx_main_in .cnxh .tab_div .con ul').css('left','0px');	
				}
				var move = imgKey * -1198;
				$('.grzx_main_in .cnxh .tab_div .con ul').stop().animate({'left':move +'px'},1000);			
			}
			
					
			//自动轮播
			var timer01 = null;
			timer01 = setInterval(myFn,6000);
			$('.grzx_main_in .cnxh .tab_div .con').hover(function(e) {
				clearInterval(timer01);
			},function(){
				clearInterval(timer01);	
				timer01 = setInterval(myFn,6000);
			});
			
			
			var myLi = $('.grzx_main_in .cnxh .tab_div .con ul li:eq(0),.grzx_main_in .cnxh .tab_div .con ul li:eq(1),.grzx_main_in .cnxh .tab_div .con ul li:eq(2),.grzx_main_in .cnxh .tab_div .con ul li:eq(3),.grzx_main_in .cnxh .tab_div .con ul li:eq(4)').clone(true);
			var myTag = $(myLi);
			$('.grzx_main_in .cnxh .tab_div .con ul').append(myTag);
			
			var olKey = 0;
			var imgKey = 0;
			$('.grzx_main_in .cnxh .tab_div .btn_div .next').click(function(e) {
				myFn();			
			});
			
			$('.grzx_main_in .cnxh .tab_div .btn_div .prev').click(function(e) {
				olKey--;
				if(olKey <0){
					olKey = 4;	
				}
				$('.con ol li').eq(olKey).addClass('current').siblings().removeClass('current');
				imgKey--;
				if(imgKey < 0){
					imgKey = 4;	
					$('.grzx_main_in .cnxh .tab_div .con ul').css('left','-5990px');
				}
				var move = imgKey * -1198;
				$('.grzx_main_in .cnxh .tab_div .con ul').stop().animate({'left':move + 'px'},1000);
			});
			
			// ol点击
			$('.grzx_main_in .cnxh .tab_div ol li').click(function(e) {
				$(this).addClass('current').siblings().removeClass('current');
				var move = $(this).index() * -1198;
				$('.grzx_main_in .cnxh .tab_div .con ul').stop().animate({'left':move + 'px'},1000);
				olKey = $(this).index();
				imgKey = $(this).index();
			});

				
				
		})
	</script>
</body>
</html>
